@model IEnumerable<MedSysProject.Models.Blog>

@{
    ViewData["Title"] = "IndexOld";
    Layout = "~/Views/Shared/_Layout_Blogs.cshtml";
}

@section IndexCss
{
@*     <style>
        .custom-pagination a:hover {
            background: rgba(var(--color-black-rgb), 0.9);
            color: var(--color-white);
        }
    </style> *@
}
<main id="main">
    <section>
        <div class="container">
            <div class="row">

                <div class="col-md-9">
                    <h3 class="category-title">@ViewBag.Cate</h3>
                    @{
                        int blogClassId = 0;
                    }
                    @* ---------開始區塊-------- *@

                    @foreach (var item in Model)
                    {
                         blogClassId = item.ArticleClassId;

                        <div class="d-md-flex post-entry-2 half" data-hide-id="@item.BlogId">
                            <a href="~/Blogs/SinglePost?SingleBlogID=@item.BlogId" class="me-4 thumbnail">
                                <img src="/blogs/GetBlogImageByte/@item.BlogId" alt="" class="img-fluid" style="width:483px; height:263px;">
                            </a>
                            <div>
                                <div class="post-meta"><span class="date">@item.ArticleClass.BlogCategory1</span> <span class="mx-1">&bullet;</span> <span>@item.CreatedAt.ToString("yyyy/MM/dd")</span></div>
                                <h3><a href="~/Blogs/SinglePost?SingleBlogID=@item.BlogId">@item.Title</a></h3>
                                <p>
                                   
                                </p>
                                <div class="d-flex align-items-center author">
                                    <div class="photo"><img src="/blogs/GetEmpImageByte/@item.EmployeeId" alt="" class="img-fluid"></div>
                                    <div class="name">
                                        <h3 class="m-0 p-0">@item.Employee.EmployeeName)</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                    @* ---------結束區塊-------- *@


                    @* -------換頁------- *@

                    <div class="text-start py-4">
                        <div class="custom-pagination">
                            @{
                                if (ViewBag.Cate == null)
                                {
                                    if (ViewBag.page == null)
                                    {

                                    }

                                    else
                                    {
                                        int previous = ViewBag.page - 1;
                                        int next = ViewBag.page + 1;
                                        int current = ViewBag.page;

                                        if (ViewBag.page == 1)
                                        {
                                                    <a href="~/blogs/SelectBlogCategory?page=@previous" class="btn prev disabled" hidden>上一頁</a>
                                        }
                                        else
                                        {
                                                    <a href="~/blogs/SelectBlogCategory?page=@previous" class="prev">上一頁</a>
                                        }


                                        for (int i = 1; i <= ViewBag.MaxPage; i++)
                                        {
                                            if (i == current)
                                            {
                                                        <a href="~/blogs/SelectBlogCategory?page=@i" class="active">@i</a>
                                            }
                                            else
                                            {
                                                        <a href="~/blogs/SelectBlogCategory?page=@i">@i</a>
                                            }
                                        }

                                        if (ViewBag.page == ViewBag.MaxPage)
                                        {
                                                    <a href="~/blogs/SelectBlogCategory?page=@next" class="btn prev disabled" hidden>下一頁</a>
                                        }
                                        else
                                        {
                                                    <a href="~/blogs/SelectBlogCategory?page=@next" class="prev">下一頁</a>
                                        }

                                    }
                                }
                                else
                                {
                                    if (ViewBag.page == null)
                                    {

                                    }

                                    else
                                    {
                                        int previous = ViewBag.page - 1;
                                        int next = ViewBag.page + 1;
                                        int current = ViewBag.page;

                                        if (ViewBag.page == 1)
                                        {
                                                    <a href="~/blogs/SelectBlogCategory?CategoryID=@ViewBag.CategoryID&page=@previous" class="btn prev disabled" hidden>上一頁</a>
                                        }
                                        else
                                        {
                                                    <a href="~/blogs/SelectBlogCategory?CategoryID=@ViewBag.CategoryID&page=@previous" class="prev">上一頁</a>
                                        }


                                        for (int i = 1; i <= ViewBag.MaxPage; i++)
                                        {
                                            if (i == current)
                                            {
                                                        <a href="~/blogs/SelectBlogCategory?CategoryID=@ViewBag.CategoryID&page=@i" class="active">@i</a>
                                            }
                                            else
                                            {
                                                        <a href="~/blogs/SelectBlogCategory?CategoryID=@ViewBag.CategoryID&page=@i">@i</a>
                                            }
                                        }

                                        if (ViewBag.page == ViewBag.MaxPage)
                                        {
                                                    <a href="~/blogs/SelectBlogCategory?CategoryID=@ViewBag.CategoryID&page=@next" class="btn prev disabled" hidden>下一頁</a>
                                        }
                                        else
                                        {
                                                    <a href="~/blogs/SelectBlogCategory?CategoryID=@ViewBag.CategoryID&page=@next" class="prev">下一頁</a>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <!-- ======= Sidebar ======= -->
                    <div class="aside-block">

                        <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true" onclick="loadSidePopular()">最多觀看</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false" onclick="loadSideLatest()">最新貼文</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-thisCat" type="button" role="tab" aria-controls="pills-latest" aria-selected="false" onclick="loadSideThisCat()">相關貼文</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                            </div>
                            <div class="tab-pane fade show active" id="pills-latest" role="tabpanel" aria-labelledby="pills-popular-tab">
                            </div>
                            <div class="tab-pane fade show active" id="pills-thisCat" role="tabpanel" aria-labelledby="pills-popular-tab">
                            </div>
                        </div>
                    </div>
                    <div class="aside-block">
                        <h3 class="aside-title">文章類別</h3>
                        <ul class="aside-links list-unstyled">
                            <li><a href="@Url.Content("~/Blogs/SelectBlogCategory")?CategoryID=1"><i class="bi bi-chevron-right"></i> 活動快訊</a></li>
                            <li><a href="@Url.Content("~/Blogs/SelectBlogCategory")?CategoryID=2"><i class="bi bi-chevron-right"></i> 醫療新知</a></li>
                            <li><a href="@Url.Content("~/Blogs/SelectBlogCategory")?CategoryID=3"><i class="bi bi-chevron-right"></i> 名人分享會</a></li>
                            <li><a href="@Url.Content("~/Blogs/SelectBlogCategory")?CategoryID=4"><i class="bi bi-chevron-right"></i> 媒體報導</a></li>
                            <li><a href="@Url.Content("~/Blogs/SelectBlogCategory")?CategoryID=5"><i class="bi bi-chevron-right"></i> 企業責任</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main><!-- End #main -->
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            loadSidePopular();
            const blogUnits = document.querySelectorAll('.post-entry-2');
            blogUnits.forEach(unit => {
                const blogId = unit.getAttribute('data-hide-id');
                const contentContainer = unit.querySelector('p');
                //console.log(contentContainer);//取到了
                fetch(`https://localhost:7078/api/Blogs/${blogId}`)
                    .then(response => response.json())
                    .then(data => {
                        //console.log(data);
                        const { content } = data;
                        contentContainer.innerHTML = getContentSnippet(content, 50) + '. . .';
                    });
                       
            });            
        });
        async function loadSidePopular() {
            const response = await fetch(`https://localhost:7078/api/Blogs/popular6`);
            const data = await response.json();
            console.log(data);
            const popularContainer = document.querySelector('#pills-popular');
            const popular6 = data.$values.map(blog => {
                const { blogId, title, author, articleClass, createdAt,views} = blog;

                const date = new Date(createdAt);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                const formattedDate = `${year}-${month}-${day}`;
                return ` <div class="post-entry-1 border-bottom">
                                                                         <div class="post-meta">
                                                                           <span class="date">${articleClass}</span>
                                                                            <span class="mx-1">&bullet;</span>
                                                                            <span>${formattedDate}</span>
                                                                        </div>
                                                                    <h2 class="mb-2"><a href="@Url.Content("~/Blogs/SinglePost")?SingleBlogID=${blogId}">${title}</a></h2>
                                                                               <span class="author mb-3 d-block">${author}&nbsp;&nbsp;瀏覽人次:${views}</span>
                                                                   </div>

                                                                `
            })
            popularContainer.innerHTML = popular6.join('');
        }
        async function loadSideLatest() {
            const response = await fetch(`https://localhost:7078/api/Blogs/latest6`);
            const data = await response.json();
            //console.log(data);
            const latestContainer = document.querySelector('#pills-latest');

            const latest6 = data.$values.map(blog => {
                const { blogId, title, author, articleClass, createdAt,views } = blog;

                const date = new Date(createdAt);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                const formattedDate = `${year}-${month}-${day}`;
                return ` <div class="post-entry-1 border-bottom">
                                                                         <div class="post-meta">
                                                                           <span class="date">${articleClass}</span>
                                                                            <span class="mx-1">&bullet;</span>
                                                                            <span>${formattedDate}</span>
                                                                        </div>
                                                                    <h2 class="mb-2"><a href="@Url.Content("~/Blogs/SinglePost")?SingleBlogID=${blogId}">${title}</a></h2>
                                                                                                               <span class="author mb-3 d-block">${author}&nbsp;&nbsp;瀏覽人次:${views}</span>
                                                                   </div>

                                                                `
            })
            latestContainer.innerHTML = latest6.join('');
        }
        let blogClassId = @blogClassId;
        async function loadSideThisCat() {
            let url = `https://localhost:7078/api/Blogs/thisCat6/${blogClassId}`;
            console.log(url);
            const response = await fetch(`https://localhost:7078/api/Blogs/thisCat6/?id=${blogClassId}`);
            const data = await response.json();
            console.log(data);
            const thisCarContainer = document.querySelector('#pills-thisCat');
            const thisCat6 = data.$values.map(blog => {
                const { blogId, title, author, articleClass, createdAt,views } = blog;

                const date = new Date(createdAt);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                const formattedDate = `${year}-${month}-${day}`;
                return ` <div class="post-entry-1 border-bottom">
                                                                         <div class="post-meta">
                                                                           <span class="date">${articleClass}</span>
                                                                            <span class="mx-1">&bullet;</span>
                                                                            <span>${formattedDate}</span>
                                                                        </div>
                                                                    <h2 class="mb-2"><a href="@Url.Content("~/Blogs/SinglePost")?SingleBlogID=${blogId}">${title}</a></h2>
                                                                               <span class="author mb-3 d-block">${author}&nbsp;&nbsp;瀏覽人次:${views}</span>
                                                                   </div>

                                                                `
            })
            thisCarContainer.innerHTML = thisCat6.join('');
            //const thisCat6
        }
    </script>
}