@model List<MedSysProject.Models.Comment>
@{//測試h6外面包div樣式會不會跑掉??
    <div><h6 class="comment-replies-title mb-4 text-muted text-uppercase" data-reply-count="@Model.Count()">@Model.Count() 則回覆</h6></div>
    foreach (var reply in Model)
    {
        <!-- 次留言的 HTML 结构 -->
        <div class="reply d-flex mb-4">
            <div class="flex-shrink-0">
                <div class="avatar avatar-sm rounded-circle">
                    @{
                        if (reply.EmployeeId == null)
                        {
                            <img class="avatar-img" src="~/img/MemberImg/@reply.Member.MemberImage" alt="" class="img-fluid" />
                        }
                        else
                        {
                            <img class="avatar-img" src="data:image/jpeg;base64,@Convert.ToBase64String(reply.Employee.EmployeePhoto)"
                                 alt=""
                                 class="img-fluid" />
                        }

                }
                </div>
            </div>
            <div class="flex-grow-1 ms-2 ms-sm-3">
                <div class="reply-meta d-flex align-item-center">
                    @{
                        if (reply.EmployeeId == null)
                        {
                            <h6 class="mb-0 me-2">@reply.Member.MemberNickname</h6>
                        }
                        else
                        {
                            <h6 class="mb-0 me-2">@reply.Employee.EmployeeName</h6>
                        }

                    }
                    <span class="text-muted">@reply.CreatedAt</span>
                </div>
                <div class="reply-body">
                    @{
                        if (reply.ParentComment.EmployeeId == null)
                        {//可以在inline style設計hover嗎
                            <a href="#" style="color:blue;">(會員)@reply.ParentComment.Member.MemberNickname</a> @reply.Content
                        }
                        else
                        {
                            <a href="#" style="color:blue;">(@reply.ParentComment.Employee.EmployeeClass.Class)@reply.ParentComment.Employee.EmployeeName</a> @reply.Content
                        }
                }
                    
                </div>
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-secondary btn-sm" style="font-size:10px;"><i class="bi bi-reply">回覆</i></button>
                </div>
            </div>
        </div>
    }

}



