@model List<MedSysProject.Models.Blog>

@{
    Layout = "~/Views/Shared/_Layout_Blogs.cshtml";
}


<main id="main">
    @{
        <section class="single-post-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 post-content" @* data-aos="fade-up" *@>

                        <!-- ======= Single Post Content ======= -->
                        <div class="single-post">
                            <div class="post-meta"><span class="date"></span> <span class="mx-1">&bullet;</span> <span>@Model[0].CreatedAt</span></div>
                            <h1 class="mb-5">@Model[0].Title</h1>
                            @Html.Raw(Model[0].Content)
                        </div><!-- End Single Post Content -->
                        <!-- ======= Comments ======= -->
                        <!--所有的留言裝在一個div class="Comments"中，跟single-post同一個層級-->

                        <div class="Comments" id="putIn">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- ======= 側面欄位丟這 ======= -->

                    </div>
                </div>
            </div>
        </section>
    }
</main><!-- End #main -->
@section Scripts {
    <script>
        //為了不要跑版，使用者輸入的圖片會自動被包上figure以限制版面
        var postContentElements = document.getElementsByClassName('single-post');
        for (var i = 0; i < postContentElements.length; i++) {
            var images = postContentElements[i].getElementsByTagName('img');
            for (var j = 0; j < images.length; j++) {
                var image = images[j];
                var figure = document.createElement('figure');
                image.parentNode.insertBefore(figure, image);
                figure.appendChild(image);//有待研究，javascripts真的太不熟了
            }
        }
        document.addEventListener("keydown", key);
        let input = document.querySelector("#comment-message");
        function key(event) {
            if (event.key == "Enter") {

            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            loadComments();
        })

        let blogId = @Model[0].BlogId;
        async function loadComments() {
            const response = await fetch(`@Url.Content("~/Blogs/ShowComments")?BlogId=${blogId}`);
            const data = await response.text();
            let putIn = document.querySelector('.post-content');
            console.log(putIn);
            putIn.innerHTML += data;
            let mainComment = document.querySelectorAll('.mainComment');
            console.log(mainComment);
            mainComment.forEach(async comment => {
                let commentId = comment.getAttribute('data-comment-id');
                const subResponse = await fetch(`@Url.Content("~/Blogs/ShowReplies")?mainCommentId=${commentId}`);
                const subData = await subResponse.text();
                let subPutIn = comment.querySelector('.subPutIn');
                subPutIn.innerHTML += subData;

                //如何取得?<h6 class="comment-replies-title mb-4 text-muted text-uppercase" data-reply-count="@Model.Count()">@Model.Count() 則回覆</h6>
                let replyCountElement = subPutIn.querySelector('.comment-replies-title');
                if (replyCountElement) {
                    let replyCount = replyCountElement.getAttribute('data-reply-count');
                    console.log(`次要留言數目為:${replyCount}`);
                    console.log(typeof replyCount);
                    if (parseInt(replyCount) === 0) {
                        ///parseInt會自動將string轉型
                        subPutIn.style.display = 'none';
                    }
                }

            })

            //載入主留言

            // async function loadComments(){
            //     for (var i = 0; i < comidd.length; i++) {
            //         const url = `https://localhost:7203/Blogs/ad?id=${comidd[i]}`;
            //         console.log(url);
            //         const response = await fetch(url);
            //         const html =await response.text();
            //         document.querySelector("#here").innerHTML += html;
        }


    </script>
}
