
@{
    ViewData["Title"] = "planComeparison";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
@*@model IEnumerable<MedSysProject.Models.Plan>*@
@*這是方案選擇紐css*@
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
@*這是方案選擇紐css*@
<head>
    <style>
   /* @*這是方案選擇紐css*@*/
      
        .lblue {
            color: #32c8de;
        }
         .blue {
            color: #609cee;
        }

        .br-lblue {
            background: #32c8de !important;
        }

        .br-blue {
            background: #609cee !important;
        }

        .config .tab-content .tab-pane {
          /*  background: #fff;*/
            /*border: 1px solid #ddd;
            border-radius: 8px;*/
           /* padding: 20px;*/
        }

        .config .tab-content .config-one-item {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            animation-duration: 1s;
            animation-delay: 0s;
            -webkit-animation-duration: 1s;
            -webkit-animation-delay: 0s;
            -moz-animation-duration: 1s;
            -moz-animation-delay: 0s;
            -ms-animation-duration: 1s;
            -ms-animation-delay: 0s;
            -o-animation-duration: 1s;
            -o-animation-delay: 0s;
        }

            .config .tab-content .config-one-item i {
                font-size: 45px;
            }

            .config .tab-content .config-one-item h2 {
                font-size: 85px;
                font-weight: normal;
                margin-bottom: 20px;
                line-height: 60px;
            }

            .config .tab-content .config-one-item h4 {
                display: inline;
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                font-weight: normal;
                color: #fff;
                background: #f75353;
                padding: 5px 10px 5px 10px;
                border-radius: 5px;
            }

       

        /*@*這是方案選擇紐css*@*/
  </style>
</head>

@*這是回上頁抬頭*@
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>個人方案選擇</h2>
            <ol>
                <li><a href="~/Home/Index">Home</a></li>
                <li>目前位置</li>
                <li><a href="~/Home/planComeparisonTotal">方案比較</a></li>
            </ol>
        </div>

    </div>
    
</section>



<section id="portfolio" class="portfolio">
    <div class="container">
   
        <div class="section-title">
            <h2>GO健康方案</h2>
            <p>方案介紹</p>
      
                   </div>
        
            <div class="row">
                <div class="col-lg-12">篩選區
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">全部類別</li>
                    <li data-filter=".filter-heart">心血管相關</li>
                    <li data-filter=".filter-metabloism">新陳代謝相關</li>
                    <li data-filter=".filter-endocrine">內分泌疾病</li>
                    <li data-filter=".filter-dementia">失智症相關</li>
                    <li data-filter=".filter-AMA">高齡生育相關</li>
                    <li data-filter=".filter-order">自訂方案</li>
                </ul>
                    </div>
            </div>
        @*這是方案選擇紐*@
        <div>
            <div class="container" container bootstrap snippets bootdey>
                <div class="config block container-xxl">
                    <div class="tab-content container-xxl">
                        <!-- 1st Block of tab-content -->
                        <div class="tab-pane active container-xxl" id="home">
                            <div class="container bootstrap snippets bootdey">
                                <div>
                                    <div class="col-md-12 col-xs-3">
                                        <div class="config-one-item animated animation fadeInDown">
                                            <a href="~/Home/planComeparisonTotal">
                                                <i class="fa fa-desktop lblue"></i>
                                                <h2 id ="count">0</h2>
                                                <h4 class="br-lblue" >目前方案個數</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @*這是方案選擇紐*@

        <div class="row portfolio-container">

            
          @foreach(var plan in Model)//if設分類條件
            {

                if (plan.PlanId == 4)
                {
                    if (plan.PlanPrice == 25550)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-AMA">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/p1-@{@plan.PlanId}.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>

                                        <h3 style="color:#bd93e8" id="PlanName">@plan.PlanName</h3>
                                        <h3 style="color:#bd93e8" id="PlanPrice">價格NT$ @plan.PlanPrice</h3>
                                        <a href="~/Home/PlanIntroductionProject/@plan.PlanId" title="方案詳細"><i class="bi bi-card-list">方案詳細</i></a>
                                        <a href="~/Home/planComeparisonTotal" title="Details"><input class="form-check-input chbox" type="checkbox" id="checkID@{
                                    @plan.PlanId
}" value="加入方案比較">加入方案比較</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-endocrine">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/p2-@{ @plan.PlanId}.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>

                                        <h3 style="color:#bd93e8" id="PlanName">@plan.PlanName</h3>
                                        <h3 style="color:#bd93e8" id="PlanPrice">價格NT$ @plan.PlanPrice</h3>
                                        <a href="~/Home/PlanIntroductionProject/@plan.PlanId" title="方案詳細"><i class="bi bi-card-list">方案詳細</i></a>
                                        <a href="~/Home/planComeparisonTotal" title="Details"><input class="form-check-input chbox" type="checkbox" id="checkID@{
                                    @plan.PlanId
}" value="加入方案比較">加入方案比較</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    continue;
                }
                if (plan.PlanId == 6)
                {
                    if (plan.PlanPrice == 25550)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-order">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/leaf1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>
                                        <a href="~/Home/PlanIntroductionProject" data-gallery="portfolioGallery" class="portfolio-lightbox" title="方案詳細"><i class="bi bi-plus">@plan.PlanName</i></a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                  continue;
                }
                if (plan.PlanId == 2 )
                {
                    if (plan.PlanPrice == 34550)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-heart filter-metabloism">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/p1-@{@plan.PlanId}.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>

                                        <h3 style="color:#bd93e8" id="PlanName">@plan.PlanName</h3>
                                        <h3 style="color:#bd93e8" id="PlanPrice">價格NT$ @plan.PlanPrice</h3>
                                        <a href="~/Home/PlanIntroductionProject/@plan.PlanId" title="方案詳細"><i class="bi bi-card-list">方案詳細</i></a>
                                        <a href="~/Home/planComeparisonTotal" title="Details"><input class="form-check-input chbox" type="checkbox" id="checkID@{
                                    @plan.PlanId
} " value="加入方案比較">加入方案比較</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-endocrine filter-dementia">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/p2-@{@plan.PlanId}.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>

                                        <h3 style="color:#bd93e8" id="PlanName">@plan.PlanName</h3>
                                        <h3 style="color:#bd93e8" id="PlanPrice">價格NT$ @plan.PlanPrice</h3>
                                        <a href="~/Home/PlanIntroductionProject/@plan.PlanId" title="方案詳細"><i class="bi bi-card-list">方案詳細</i></a>
                                        <a href="~/Home/planComeparisonTotal" title="Details"><input class="form-check-input chbox" type="checkbox" id="checkID@{
                                    @plan.PlanId
}" value="加入方案比較">加入方案比較</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    continue;
                }
                if (plan.PlanId == 3)
                {
                    if (plan.PlanPrice == 34550)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-dementia filter-metabloism">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/p1-@{@plan.PlanId}.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>

                                        <h3 style="color:#bd93e8" id="PlanName">@plan.PlanName</h3>
                                        <h3 style="color:#bd93e8" id="PlanPrice">價格NT$ @plan.PlanPrice</h3>
                                        <a href="~/Home/PlanIntroductionProject/@plan.PlanId" title="方案詳細"><i class="bi bi-card-list">方案詳細</i></a>
                                        <a href="~/Home/planComeparisonTotal" title="Details"><input class="form-check-input chbox" type="checkbox" id="checkID@{
                                    @plan.PlanId
}" value="加入方案比較">加入方案比較</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else                    
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-heart filter-dementia">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/p2-@{ @plan.PlanId}.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>

                                        <h3 style="color:#bd93e8" id="PlanName">@plan.PlanName</h3>
                                        <h3 style="color:#bd93e8" id="PlanPrice">價格NT$ @plan.PlanPrice</h3>
                                        <a href="~/Home/PlanIntroductionProject/@plan.PlanId" title="方案詳細"><i class="bi bi-card-list">方案詳細</i></a>
                                        <a href="~/Home/planComeparisonTotal" title="Details"><input class="form-check-input chbox" type="checkbox" id="checkID@{
                                    @plan.PlanId
}" value="加入方案比較">加入方案比較</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    continue;
                }

                if (plan.PlanId == 5)
                {
                    if (plan.PlanPrice == 34550)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-dementia filter-metabloism">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/p1-1-@{@plan.PlanId}.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>

                                        <h3 style="color:#bd93e8" id="PlanName">@plan.PlanName</h3>
                                        <h3 style="color:#bd93e8" id="PlanPrice">價格NT$ @plan.PlanPrice</h3>
                                        <a href="~/Home/PlanIntroductionProject/@plan.PlanId" title="方案詳細"><i class="bi bi-card-list">方案詳細</i></a>
                                        <a href="~/Home/planComeparisonTotal" title="Details"><input class="form-check-input chbox" type="checkbox" id="checkID@{
                                    @plan.PlanId
}" value="加入方案比較">加入方案比較</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-heart filter-dementia">
                            <div class="portfolio-wrap">
                                <img src="~/img/PersonalPlan/p2-2-@{ @plan.PlanId}.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <div>

                                        <h3 style="color:#bd93e8" id="PlanName">@plan.PlanName</h3>
                                        <h3 style="color:#bd93e8" id="PlanPrice">價格NT$ @plan.PlanPrice</h3>
                                        <a href="~/Home/PlanIntroductionProject/@plan.PlanId" title="方案詳細"><i class="bi bi-card-list">方案詳細</i></a>
                                        <a href="~/Home/planComeparisonTotal" title="Details"><input class="form-check-input chbox" type="checkbox" id="checkID@{@plan.PlanId}" value="加入方案比較">加入方案比較</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    continue;
                }


            }

           

        </div>
       
    </div>
        
    
    

</section><!-- End Our Team Section -->

   
      
  <!-- End Our Portfolio Section -->
  @section Scripts{
      <script>
          var planidList="";
          Check.forEach((item)=>{
              if ( item.checked==true){
                  planidList += item.value;
              }
          })
          
        const Check = document.querySelectorAll(".chbox");
        const pushcount = document.querySelector("#count");
        let count =0;
        Check.forEach(btn=>{
            btn.addEventListener("change",(event)=>{
                console.log(event.target.id);
                if(event.target.checked==true){
                    count ++;
                }
                if(event.target.checked==false){
                    count--;
                }
                pushcount.innerText= count;
            })
        })

        document.addEventListener("keydown",(event)=>{
            if(event.key =="Enter"){
                console.log(Check);
            }
        })
      

  </script>
  
  }


        


