@{
    ViewData["Title"] = "planComeparisonTotal";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
@model  System.Data.DataTable
@using System.Data
<head>
    <link rel="stylesheet"  type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    
   
    @*datatable區*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" ></script>
    <script src="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  
   @*  <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/print/bootstrap-table-print.min.js"></script> *@
    @*test區*@
    @*<script src=" https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>*@
    @*<script src=""></script>*@
   
  @*  <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>*@
   
    
    <style>
       /*  .text-custom-truncate {
            display: -webkit-box !important;
            max-width: 230px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden
        }
 */
        .table thead tr th {
           /*  background-color: white ; */
            z-index: 10;
            color: #705972;
        }

        .table tbody tr th {
          /*   background-color: #5b5d23; */
            color: #a7a5e4;
            z-index: 10
        }

        
     /*    body {
            margin: 0;
            padding: 2rem
        }

        table {
            text-align: left;
            position: relative;
            border-collapse: collapse
        }

        th {
            background: white;
            position: sticky;
            top: 0;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4)
        }

        .table-responsive {
            overflow-x: inherit !important
        } */

    </style>


</head>
@*這是回上頁抬頭*@
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>個人方案比較</h2>
            <ol>
                
                <li><a href="~/Home/planComeparison">回上頁</a></li>
                <li><a href="~/Home/Customcompare">確認方案與加選自訂方案</a></li>
            </ol>
            <button onclick=" window.print()" class="btn btn-secondary"> <i class="bi bi-printer"></i></button>
        </div>

    </div>
   
</section>

@*暫存*@
<div class="container ">
    @*搜尋*@
    <div>
        <hr />
        <p>輸入您想檢查的類別:</p>
        <input class="form-control" id="myInput" type="text" placeholder="輸入關鍵字，如:新陳代謝檢查">
        <br>
       
    </div>
   <div>
        <p>
            <button id="submit" class="btn btn-light">
           選取後跳至自選方案            
            </button>
            <input  type="submit"/>
       </p>
   </div>
    


    @*移動區*@
    <div class="container-fluid navbar-nav-scroll">
        <form id="formdata">
        <table class="table table-striped  table-bordered " id="datatable" cellspacing="0" width="100%">
          
            <thead>
                
                <tr>
                       @foreach(DataColumn col in Model.Columns){
                    <th>@col.ColumnName</th>
                               }       
                </tr>
            </thead>
            <tbody id="myTable">
               @foreach(DataRow row in Model.Rows){
                      <tr>   
                          @foreach (DataColumn col in Model.Columns) {
                      
                    <td>
                        <i class="bi bi-flower1" style="color:goldenrod">
                          @row[col.ColumnName]
                        </i>
                    </td>
                       @* <td>@i["planId"]</td>*@
                      
                       
                      @*  <td>@i["projectid"]:@i["ProjectName"]</td>*@
                      @*  <td>@i["ProjectPrice"]</td>*@
                       @* <td>@i["itemId"] : @i["ItemName"]</td>*@
                   
               
                   }  
                   </tr>}
                 
                
                 </tbody>
            <tfoot></tfoot>
        </table>
        </form>
    </div>    
</div>
<div class="table-responsive table container-fluid navbar-nav-scroll">
    <table class="table table-striped fa-check text-successtable-border border-light" width="100%">

       
    </table>
</div>
@section Scripts{
    <script>
        //---變數區
       let table = new DataTable('#datatable');
        const btnSubmit = document.querySelector("#submit");
        const table2 = document.querySelector("#datatable");
        const formdata = new FormData(document.querySelector("#formdata"));
        const xhr = new XMLHttpRequest();
        //     $("#datatable").datatable({
           
        // });
      //----傳送區
        btnSubmit.addEventListener('click', event => {
            event.preventDefault();
            async function send() {
             alert("傳送")
                const response = await fetch('@Url.Content("https://localhost:7078/api/CPlan/3?planid=3")');//選取方案id
                window.location.href = ('@Url.Content("~/Home/Customcompare")');
            };
            send();
           
        });
      //-----傳送區
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    //---------------------------------------------test
        document.addEventListener("keydown",(p)=>{
        console.log(table2);
        })
        //-----------------------------------------------------
       
        //----------------datatable資料
        

    </script>

}