
@{
    ViewData["Title"] = "PlanIntroductionProject";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
@model List<MedSysProject.ViewModels.CPlanViewModel> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"></script>
<script src="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"></script>
@*<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>*@
@*這是回上頁抬頭*@
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h1>方案詳細</h1>
            <ol>
                <li><a href="~/Home/planComeparison">回上頁</a></li>
                <li>目前位置</li>
                <li><a href="~/Home/Customcompare">確認方案與加選自訂方案</a></li>
            </ol>
        </div>

    </div>
   @* <button type="button" class="btn btn-outline-danger" style="background-color:saddlebrown"><a asp-action="planComeparisonTotal" asp-controller="Home">測試跳轉用</a></button>*@
</section>


<body>

    <!-- ======= Header ======= -->
    <main>


        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            @*區*@
                            @*test*@
                           
                            <div class="swiper-wrapper align-items-center">
                                @foreach(var plan in Model){

                                    if (plan.PlanId>0)
                                    {
                                 <div class="swiper-slide">
                                    <img src="~/img/PersonalPlan/p4-1-@{@plan.PlanId}.jpg" alt="" >
                                        </div>
                                        continue;
                                    }
                                    }
                                                                                     

                            </div>

                            <div > </div>

                        </div>
                    </div>
                 @*  原位置在這裡 *@
                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            @foreach(var plandetail in Model)
                            {
                                if (plandetail.PlanId > 0) {
                                    <h3 style="color:#7045af" id="@plandetail.PlanName">@plandetail.PlanName<input id="@plandetail.PlanId" type="hidden" name="@plandetail.PlanId" value="2" /> </h3>
                                
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item" id="price"><strong style="color:#b1297d">價格</strong>: NT$

                                            <i>元</i>
                                        </li>
                                <li class="list-group-item"><strong style="color:#51966d">適合族群</strong>: 中高年齡層</li>
                                 <li class="list-group-item"><strong style="color:#51966d">方案介紹</strong>: @plandetail.PlanDescription</li>
                                        @if (plandetail.PlanId == 4)
                                        {
                                            <li class="list-group-item"><strong style="color:#84af45">性別限制</strong>: 女<i class="bi bi-bookmark-check-fill" style="color:#af4584"></i></li>
                                        }
                                        else if (plandetail.PlanId == 5)
                                        {
                                            <li class="list-group-item"><strong style="color:#84af45">性別限制</strong>: 男<i class="bi bi-bookmark-check-fill" style="color:#4584af"></i></li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item"><strong style="color:#84af45">性別限制</strong>: 男<i class="bi bi-bookmark-check-fill" style="color:#4584af"></i>/女<i class="bi bi-bookmark-check-fill" style="color:#af4584"></i></li>
                                        }
                                       
                            
                                    </ul>
                                }

                                continue;

                            }
                            
                            
                        </div>
                        <div class="portfolio-description">
                       
                            <h2 class="badge  text-wrap">
                                    <a href="/Home/Customcompare?planid=@Model[0].PlanId">
                                         確認方案與加選自訂方案
                                    </a>
                            </h2>

                            @*原*@
                        <div style="height:200px;overflow:auto;">
                                <div class="table-responsive-lg  table-dialog table-dialog-scrollable" style="height:fit-content">
                                    <div class="overflow-auto " style="height:fit-content">
                                    <table class="table order-column " style="width:100% ;height:fit-content;" id="Plan">
                                    <thead>
                                        <tr style="">
                                            <th scope="col" disable></th>
                                            <th scope="col" >項目內容</th>                                                                    
                                                                
                                              <th scope="col">男</th>
                                            <th scope="col">女</th>
                                        </tr>
                                    </thead>
                                        <tbody id="ProjectDetail" class="">
                                      
                                        @foreach(var project in Model)
                                        { <tr>                    
                                           
                                                    @if (project.ProjectName !=null)
                                                {
                                                        <th scope="row" id="project" class="">@project.ProjectName </th>
                                                        <th id="item" class="text-nowrap ">
                                                        
                                                        @if (project.ItemId != 0)
                                                        {
                                                            @for (int i = 0; i < project.ItemName.Count(); i++)
                                                            {
                                                                @Html.DisplayFor(p => project.ItemName[i])
                                                            }
                                                           
                                                        }
                                                    </th>         
                                                            @if (project.ProjectId ==7)
                                                            {
                                                                <td><i class="bi bi-x-square" style="color:firebrick"></i></td>
                                                                <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                            }
                                                            else if (project.ProjectId == 8)
                                                            {
                                                                
                                                                <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                                <td><i class="bi bi-x-square" style="color:firebrick"></i></td>
                                                            }
                                                            else if (project.ProjectId ==9)
                                                            {
                                                                <td><i class="bi bi-x-square" style="color:firebrick"></i></td>
                                                                <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>

                                                            }
                                                            else if (project.ProjectId == 10)
                                                            { 
                                                                <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                                <td><i class="bi bi-x-square" style="color:firebrick"></i></td>
                                                               
                                                            }
                                                            else if (project.ProjectId == 16)
                                                            {
                                                                <td><i class="bi bi-x-square" style="color:firebrick"></i></td>
                                                                <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                            }
                                                            else if (project.ProjectId == 17)
                                                            {
                                                                <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                                <td><i class="bi bi-x-square" style="color:firebrick"></i></td>
                                                            }
                                                            else
                                                            {
                                                                <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                                <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                            }

                                                    continue;
                                                }                                                 
                                        </tr>
                                        
                                        }
                                        
                                       

                                    </tbody>
                                </table>
                                </div>
                            </div>
                            </div>
                        </div>

                      
                    </div>
                  
                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
   

</body>
@section Scripts{
<script>
      const Planid= @Model[0].PlanId;
      console.log(Planid);
   //------------------
   async function priceload(){
       let url =`https://localhost:7078/api/CPlan/${Planid}`
            const response = await fetch(url,{
                method:"POST",
            });
            const data=await response.json();
            console.log(data);
            console.log(data[0].PlanPrice);
            const Price = data[0].PlanPrice;
            price.innerHTML ="<a>"+data[0].PlanPrice+"</a>";
            price.innerHTML =
            `
               <strong style="color:#b1297d">價格 ${Price} 元</strong>
            `

   }
     priceload();
    
    //----------------------


</script>
}