@model List<MedSysProject.Models.CCartItem>

@{
    ViewData["Title"] = "CartList";
    Layout = "~/Views/Shared/_Layout_Shopping.cshtml";
    var order = ViewBag.order as Dictionary<string, string>;
}

<div class="container" style="margin-top:30px">
    <img src="~/img/ShoppingIndex.jpg" class="img-fluid" alt="..." style="height:200px; width:100%;object-fit:cover">
    <div style="margin-top:20px"><span class="fs-1">購物車</span></div>
        
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].小計)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].count)
            </th>
            <th></th>
        </tr>
        @{
            int 應付金額 = 0;
            int 總計 = 0;
            int 稅 = 0;
            foreach (var item in Model)
            {
                總計 += item.小計;
                
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <input type="hidden" value="@item.Product.ProductId" name="ProductID" class="Pid"/>
                                                                                                        <span class="items">@item.ProductName</span>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        
                                                                                                        @item.UnitPrice
                                                                                                    </td>
                                                                                                    <td>

                                                                                                        @Html.DisplayFor(modelItem => item.小計)
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        
                                                            <select name="ProductQta" class="qta">
                                                                @{
                                    for(int i =0; i < item.Product.UnitsInStock; i++)
                                    {
                                        
                                        if(item.count == i)
                                        {
                                                                                                            <option value="@i" selected>@i</option>
                                        }
                                        else{
                                                                                                            <option value="@i">@i</option>
                                        }
                                        if (i == 50)
                                        {
                                            break;
                                        }
                                    }
                                    
                                                                                                            }
                                                                                                            
                                                                                                        </select>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                            <img src="~/img/trash.png" class="trash"/>
                                                                                                    </td>
                                                                                                </tr>
            }
            稅 = (int)(總計 * 0.05);
            應付金額 = 總計 + 稅;
                                                                                            <tr>
                                                                                                <td>
                                                                                                </td>
                                                                                                <td>
                                                                                                </td>
                                                                                                <td>
                                                                                                    訂單總計:@總計
                                                                                                </td>
                                                                                                <td>
                                                                                                    稅額:@稅
                                                                                                </td>
                                                                                                <td>
                                                                                                應付金額:@應付金額
                                                                                                </td>
                                                                                            </tr>
            }
        </table>
    
        <p>運送方式</p>
        <hr />
        <span class="fs-3"><input type="radio" value="中華郵政" name="ship" />中華郵政</span>
        <span class="fs-3"><input type="radio" value="黑貓宅急便" name="ship" />黑貓宅急便</span>
        <span class="fs-3"><input type="radio" value="全球快遞" name="ship" />全球快遞</span>
        <span class="fs-3"><input type="radio" value="新竹物流" name="ship" />新竹物流</span>
        <span class="fs-3"><input type="radio" value="嘉里大榮" name="ship" />嘉里大榮</span>
        <span class="fs-3"><input type="radio" value="蝦皮店到店" name="ship" />蝦皮店到店</span>
        <br />
    <form id="payform" method="post" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5">



        @{
            foreach (var Key in order.Keys.ToList())
            {
                <input type="hidden" name="@Key" value="@order[Key]" />
            }
        }
        <input class="btn btn-info mt-3"type="submit" value="結帳" />
    </form>
</div>




   @section Scripts {
        <script>
            let del = document.querySelectorAll(".trash");
            let change = document.querySelectorAll(".qta");
            document.addEventListener("DOMContentLoaded", () => {
                del.forEach((item) => {
                    item.addEventListener("click", () => {
                        var userConfirmed = window.confirm("確定要刪除這個項目嗎？");
                        if (userConfirmed) {
                            let id = item.parentElement.parentElement.querySelector(".Pid").value;
                            delCart(id);
                        };
                    })
                });
                change.forEach((item) => {
                    item.addEventListener("change", changeQta)
                });
                payinfo()
            });
            async function delCart(id) {
            const response = await fetch(`/Shopping/removeCart/${id}`)
                
                if(response.ok){
                window.location.href= "/Shopping/CartList";
                }
                
            }
            function payinfo(){
            var ProductList = "";
            let itemList = document.querySelectorAll(".items");
            itemList.forEach(item => {
                console.log(item.innerText);
                ProductList += `#${item.innerText}`
            })

            // document.querySelector("input[name='ItemName']").value = ProductList.substring(1)
            // document.querySelector("input[name='TradeDesc']").value = "產品訂單";
            // MacCheck()
            };
            async function MacCheck(){
                let url = `/Shopping/CheckMac`;
            const form = document.querySelector("#payform");
                const formData = new FormData(form);
                
                const response = await fetch(url, {
                    body:formData,
                    method:"POST",
                });
                const data = await response.json();
                console.log(data);
                document.querySelector("input[name='CheckMacValue']").value = data.CheckMacValue;
            }
            function changeQta(event) {
            let qta = event.target.value;
            let id = event.target.parentElement.parentElement.querySelector(".Pid").value;
            console.log(id);
            

            AchangeQta(id, qta)
            };
            async function AchangeQta(id, qta) {
            let url = `/Shopping/changeQta?id=${id}&nqta=${qta}`
            const response = await fetch(url);
                const data = response.status;
                window.location.href= "/Shopping/CartList";
            }
        </script>
        }