
@{
    ViewData["Title"] = "KeySearch";
    Layout = "~/Views/Shared/_Layout_Shopping.cshtml";
}

<div class="container" >
    <div class="row">
        <div class="col-3" style="padding:20px">
            <div>
            <span class="fs-2">產品分類</span>
            <hr class="hr-dashed"/>
                <div class="list-group">
                    <a class="fs-4 list-group-item list-group-item-action">胃腸道功能改善</a>
                    <a class="fs-4 list-group-item list-group-item-action">調節血脂</a>
                    <a class="fs-4 list-group-item list-group-item-action">護肝</a>
                    <a class="fs-4 list-group-item list-group-item-action">骨質保健</a>
                    <a class="fs-4 list-group-item list-group-item-action">免疫調節</a>
                    <a class="fs-4 list-group-item list-group-item-action">.........</a>
                </div>
            </div>
            <div style="margin-top:20px">
            <span class="fs-2" style="margin-top:20px">運送方式</span>
            <hr class="hr-dashed" />
                <div class="list-group">
                    <a class="fs-4 list-group-item list-group-item-action">中華郵政</a>
                    <a class="fs-4 list-group-item list-group-item-action">黑貓宅急便</a>
                    <a class="fs-4 list-group-item list-group-item-action">全球快遞</a>
                    <a class="fs-4 list-group-item list-group-item-action">新竹物流</a>
                    <a class="fs-4 list-group-item list-group-item-action">嘉里大榮</a>
                    <a class="fs-4 list-group-item list-group-item-action">蝦皮店到店</a>
                </div>
            </div>
            <div style="margin-top:20px">
                <span class="fs-2" style="margin-top:20px">價格區間</span><br />
                <hr class="hr-dashed" />
                <input type="text" style="width:100px" placeholder="金額最小" /> ----- <input type="text" style="width:100px" placeholder="金額最大" />
            </div>
            <div style="height:600px"></div>
        </div>
        <div class="col-9" style="padding:20px" >
            <div style="height:300px;">
                <span class="fs-2 text-info">"搜尋字元"搜尋結果</span>
                <hr class="hr-dashed" />
                <div >
                    <span class="fs-5 me-3">篩選</span>
                    <button class="btn btn-outline-primary me-1 active">綜合排名</button>
                    <button class="btn btn-outline-primary me-1">最新</button>
                    <button class="btn btn-outline-primary me-1">最熱銷</button>
                    <select class="form-select form-select-sm" style="display:inline;width:200px">
                        <option selected>價格</option>
                        <option>價格 從低至高</option>
                        <option>價格 從高至低</option>
                    </select>
                </div>
                <div class="mt-5">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="@Url.Content("~/img/Login1.jpg")" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fs-2">商品名稱</h5>
                                    <p class="card-text">5折</p>
                                    <p class="card-text text-danger fs-3">$4,400</p>
                                    <p class="card-text">三星</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-dashed" />
                    <div style="text-align:center;">
                        <button class="fs-5 btn btn-outline-primary active">1</button>
                        <button class="fs-5 btn btn-outline-primary">2</button>
                        <button class="fs-5 btn btn-outline-primary">3</button>
                        <button class="fs-5 btn btn-outline-primary">4</button>
                        <button class="fs-5 btn btn-outline-primary">5</button>
                        <button class="fs-5 btn btn-outline-primary">6</button>
                        <button class="fs-5 btn btn-outline-primary">7</button>
                    </div>
                    
            </div>    
        </div>
    </div>
    </div>
</div>