@using System.Text.Json;
@model List<COrderWarp>

@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_Layout_Shopping.cshtml";
}



<div class="container">
    <div >
        <form method="post">
        <div class=" p-3">
                @{
                    <span class="fs-2">訂單查詢</span>
                    <div><input type="hidden" value="keyword" name="Key" /><input type="text" name="Keyword" /><input type="submit" value="查詢" /></div>
            }
        </div>
        </form>
        <form method="post">
        @{
           <input type="hidden" value="dateKey" name="key"/>
            var q = Model.OrderBy(n=>n.order.OrderDate);
            <div class="p-3">
            <input type="date" name="dateMin" value="@q.First().order.OrderDate.ToString("yyyy-MM-dd")"/>-
            <input type="date" name="dateMax" value="@q.Last().order.OrderDate.ToString("yyyy-MM-dd")"/>
            <input type="submit" value="日期查詢" />
        </div>
        <div class="fs-1 ">會員訂單管理 @Model.Count()</div>
        }
        </form>
    @{
        int count = 0;
        for(int i =0; i < Model.Count; i++)
        {
            count++;

            <div class="card w-100 ">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="row mb-3">
                        <div class="col-2 border ">
                            訂單編號 : @Model[i].OrderDate.ToString("yyyymmdd")@Model[i].OrderId
                        </div>
                        <div class="col-2 border ">
                            下訂日期 : @Model[i].order.OrderDate.ToString().Split(" ")[0]
                        </div>
                        <div class="col-1 border ">
                             @Model[i].order.State.StateName
                        </div>
                        <div class="col-1 border ">
                             @Model[i].order.Pay.PayName
                        </div>
                        <div class="col-1 border ">
                            @Model[i].order.Ship.ShipName
                        </div>
                        <div class="col-1 border ">
                            <a asp-action="" asp-controller="" asp-route-id="">發票</a>
                        </div>
                        <div class="col-3 border ">
                            說明 : @Model[i].order.State.StateDetailed
                        </div>
                        <div class="col-1 border ">
                            <a asp-action="" asp-controller="" asp-route-id="">退貨</a>
                        </div>
                        </div>
                    <button type="button" class="btn btn-outline-info dBtn">訂單詳細如下</button>
                    <div id="productList">
                        <ul class="list-group mt-3" style="display:none;">
                                @{
                                    int pcount = 0;
                                    int total = 0;
                                    foreach(var item in Model[i].order.OrderDetails)
                                    {
                                        total += (int)item.Quantity * (int)item.Product.UnitPrice;
                                        pcount++;
                                        <li class="list-group-item ">
                                        <div class="row">
                                            <div class="col-3 "><a asp-action="selectProduct" asp-controller="Shopping" asp-route-id="@item.Product.ProductId">@pcount. @item.Product.ProductName</a></div>
                                            <div class="col-3 "></div>
                                            <div class="col-3 ">件數 : @item.Quantity</div>
                                            <div class="col-3  text-danger " style="text-align: right;">
                                            $@{
                                                int pd = (int)item.Quantity * (int)item.Product.UnitPrice; string p = pd.ToString("N0");
                                                @p
                                                    }
                                            </div>
                                        </div>
                                        </li>
                                        
                                }
                                    <li class=" fs-3 d-flex justify-content-end">總金額 : $ @{@total.ToString("N0")}</li>
                    }
                        </ul>
                    </div>
                </div>
            </div>
                <hr class="mb-0"/>
        }
        
    }
    
    </div>
</div>
@section Scripts{
     <script>
         document.addEventListener("DOMContentLoaded",()=>{
            let butons = document.querySelectorAll(".dBtn");
            for(var i = 0 ; i<butons.length; i++){
                butons[i].addEventListener("click",out);
            }
            });
         function out(event){
            event.target.removeEventListener('click',out);
            let ps = event.target.parentNode.querySelector("#productList").querySelector("ul");
            ps.style.display ="";
            event.target.addEventListener('click', hide);
         }
         function hide(event){
             event.target.removeEventListener('click',hide);
            let ps = event.target.parentNode.querySelector("#productList").querySelector("ul");
            ps.style.display= "none";
             event.target.addEventListener('click',out);
         }



     </script>
}