@model List<COrderWarp>

@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_Layout_Shopping.cshtml";
}



<div class="container">
    @{
        int count = 0;
        for(int i =0; i < Model.Count; i++)
        {
            count++;
            <div class="list-group inDiv">
                <button type="button" class="list-group-item list-group-item-action active click" aria-current="true" value="@count">
                第 @count 筆資料
                </button>
                <p class="list-group-item list-group-item-action" style="margin:0px;display:none">支付方式 : @Model[i].PayId</p>
                <p class="list-group-item list-group-item-action" style="margin:0px;display:none">訂單狀態 : @Model[i].StateId</p>
                <p class="list-group-item list-group-item-action" style="margin:0px;display:none">運送方式 : @Model[i].ShipId</p>
                <p class="list-group-item list-group-item-action" style="margin:0px;display:none">下訂日期 : @Model[0].OrderDate.ToString().Split(" ")[0]</p>
                <p class="list-group-item list-group-item-action" style="margin:0px;display:none">出貨日期 : @Model[0].ShipDate.ToString().Split(" ")[0]</p>
                <p class="list-group-item list-group-item-action" style="margin:0px;display:none">預計到達日期 : @Model[0].DeliveryDate.ToString().Split(" ")[0]</p>
            </div>
        }
    }
</div>
@section Scripts{
     <script>

       
        let clicks =document.querySelectorAll(".click");
        for(var i =0; i <clicks.length;i++){
            clicks[i].addEventListener('click',out);
        }
         function out(event){
            event.target.removeEventListener('click',out);
            let ps = event.target.parentNode.querySelectorAll("p");
            for(var i =0; i<ps.length;i++){
                ps[i].style.display="";
            }
            event.target.addEventListener('click', hide);
         }
         function hide(event){
             event.target.removeEventListener('click',hide);
             let ps = event.target.parentNode.querySelectorAll("p");
             for(var i =0 ; i<ps.length;i++){
                 ps[i].style.display="none";
             }
             event.target.addEventListener('click',out);
         }
         const paylist = document.getElementsByClassName('pay');
         const shiplist = document.getElementsByClassName('ship');
         const statelist = document.getElementsByClassName('state');
         document.addEventListener('DOMContentLoaded',()=>{
            loadpayarray()
            loadshiparray()
            loadstatearray()
         })
         async function loadpayarray(){
            let pay = [];
            let apiurl = "https://localhost:7078/api/OrderPays/arrayBypay";
            for (let i = 0; i < paylist.length; i++) {
                pay.push(parseInt(paylist[i].innerText));
            }
            const response = await fetch(apiurl,{
                body: JSON.stringify(pay),
                headers: {
                    'Content-Type': 'application/json'
                },
                method:"POST",
            })
            const value = await response.json();
            console.log(value);
            for(let i =0; i<paylist.length;i++){
                paylist[i].innerHTML = value.$values[i];
            }
         }
        async function loadshiparray() {
            let ship = [];
            let apiurl = "https://localhost:7078/api/OrderShips/arrayByship";
            for (let i = 0; i < shiplist.length; i++) {
                ship.push(parseInt(shiplist[i].innerText));
            }
            const response = await fetch(apiurl, {
                body: JSON.stringify(ship),
                headers: {
                    'Content-Type': 'application/json'
                },
                method: "POST",
            })
            const value = await response.json();
            console.log(value);
            for (let i = 0; i < shiplist.length; i++) {
                shiplist[i].innerHTML = value.$values[i];
            }
        }
        async function loadstatearray() {
            let state = [];
            let apiurl = "https://localhost:7078/api/OrderStates/arrayBystate";
            for (let i = 0; i < statelist.length; i++) {
                state.push(parseInt(statelist[i].innerText));
            }
            const response = await fetch(apiurl, {
                body: JSON.stringify(state),
                headers: {
                    'Content-Type': 'application/json'
                },
                method: "POST",
            })
            const value = await response.json();
            console.log(value);
            for (let i = 0; i < statelist.length; i++) {
                statelist[i].innerHTML = value.$values[i];
            }
        } 
     </script>
}