@model List<COrderWarp>

@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_Layout_Shopping.cshtml";
}



<div class="container">
    <div class="list-group inDiv" >
        <button type="button" class="list-group-item list-group-item-action active click" aria-current="true"  value="1">555
        </button>
    </div>
    <div class="list-group inDiv">
        <button type="button" class="list-group-item list-group-item-action active click" aria-current="true"  value="2">444
        </button>
    </div>
</div>
@section Scripts{
     <script>

       
        let clicks =document.querySelectorAll(".click");
        for(var i =0; i <clicks.length;i++){
            clicks[i].addEventListener('click',out);
        }

         function out(event){
            event.target.removeEventListener('click',out);
            
            //<a href="#" class="list-group-item list-group-item-action" > A second link item < /a>
            console.log(event.target.value)
            let ppay = document.createElement("p");
            ppay.innerText = "支付方式 : @Model[0].PayId";
            event.target.parentNode.appendChild(ppay);
            let pship = document.createElement("p");
            pship.innerText = "@Model[0].ShipId";
            event.target.parentNode.appendChild(pship);
            let pstate = document.createElement("p");
            pstate.innerText = "@Model[0].StateId";
            event.target.parentNode.appendChild(pstate);
            let pod = document.createElement("p");
            pod.innerText = "@Model[0].OrderDate.ToString().Split(" ")[0]";
            event.target.parentNode.appendChild(pod);
            let psd = document.createElement("p");
            psd.innerText = "@Model[0].ShipDate.ToString().Split(" ")[0]";
            event.target.parentNode.appendChild(psd);
            let pdd = document.createElement("p");
            pdd.innerText = "@Model[0].DeliveryDate.ToString().Split(" ")[0]";
            event.target.parentNode.appendChild(pdd);
            
            
            let newp = event.target.parentNode.querySelectorAll("p");
            for (var i = 0; i < newp.length; i++) {
                newp[i].className = "list-group-item list-group-item-action";
                newp[i].style.margin="0";
            }
            alert("新增成功");
            event.target.addEventListener('click', hide);
         }
         function hide(event){
             event.target.removeEventListener('click',hide);
            let ps = event.target.parentNode.getElementsByTagName("p");
             for(var i = 0 ; i <ps.length ; i++){
                 ps[i].remove();
             }
             alert("刪除成功");
             event.target.addEventListener('click',out);
         }
         const paylist = document.getElementsByClassName('pay');
         const shiplist = document.getElementsByClassName('ship');
         const statelist = document.getElementsByClassName('state');
         document.addEventListener('DOMContentLoaded',()=>{
            loadpayarray()
            loadshiparray()
            loadstatearray()
         })
         async function loadpayarray(){
            let pay = [];
            let apiurl = "https://localhost:7078/api/OrderPays/arrayBypay";
            for (let i = 0; i < paylist.length; i++) {
                pay.push(parseInt(paylist[i].innerText));
            }
            const response = await fetch(apiurl,{
                body: JSON.stringify(pay),
                headers: {
                    'Content-Type': 'application/json'
                },
                method:"POST",
            })
            const value = await response.json();
            console.log(value);
            for(let i =0; i<paylist.length;i++){
                paylist[i].innerHTML = value.$values[i];
            }
         }
        async function loadshiparray() {
            let ship = [];
            let apiurl = "https://localhost:7078/api/OrderShips/arrayByship";
            for (let i = 0; i < shiplist.length; i++) {
                ship.push(parseInt(shiplist[i].innerText));
            }
            const response = await fetch(apiurl, {
                body: JSON.stringify(ship),
                headers: {
                    'Content-Type': 'application/json'
                },
                method: "POST",
            })
            const value = await response.json();
            console.log(value);
            for (let i = 0; i < shiplist.length; i++) {
                shiplist[i].innerHTML = value.$values[i];
            }
        }
        async function loadstatearray() {
            let state = [];
            let apiurl = "https://localhost:7078/api/OrderStates/arrayBystate";
            for (let i = 0; i < statelist.length; i++) {
                state.push(parseInt(statelist[i].innerText));
            }
            const response = await fetch(apiurl, {
                body: JSON.stringify(state),
                headers: {
                    'Content-Type': 'application/json'
                },
                method: "POST",
            })
            const value = await response.json();
            console.log(value);
            for (let i = 0; i < statelist.length; i++) {
                statelist[i].innerHTML = value.$values[i];
            }
        } 
     </script>
}