@using System.Text.Json
@model CProductWarp
@{
    ViewData["Title"] = "selectProduct";
    Layout = "~/Views/Shared/_Layout_Shopping.cshtml";
    string s = Model.UnitPrice.ToString();
}
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>產品規格</h2>
            <ol>
                <li><a asp-action="index">主頁</a></li>
                <li><a asp-action="CatProduct" asp-route-id="@Model.Product.ProductsClassifications.FirstOrDefault().Categories.CategoriesId">@Model.Product.ProductsClassifications.FirstOrDefault().Categories.CategoriesName</a></li>
                <li>產品規格</li>
            </ol>
        </div>

    </div>
</section><!-- Breadcrumbs -->
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        @{
                            int count = 0;
                            foreach(var img in Model.Path)
                            {
                                                <div class="swiper-slide">
                                                    <img src="@Url.Content("~/img-product/")@Model.Path[count]" alt="" style="height:856px;width:856px">
                                                </div>
                                count++;
                            }
                        } 
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3 class="fs-2">@Model.ProductName</h3>
                    <ul>
                        <li class="fs-4"><strong>分類</strong>: Web design</li>
                        <li class="fs-4"><strong>出貨商</strong>: ASU Company</li>
                        <li class="fs-4"><strong>產品價格</strong><span class="text-danger">    $@s.TrimEnd('0').TrimEnd('.')</span></li>
                        <li class="fs-4"><strong>證號</strong>: <a href="#">@Model.License</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>@Model.License</h2>
                    <p class="fs-3 scrollable-content" style="max-height: 400px; overflow-y: auto;">
                        @Model.Description
                    </p>
                    
                    <p>
                        <form  id="datas">
                            <select name="count" class="form-select" style="display:inline ; width:200px" >
                                @{
                                    for(int i = 1; i <= Model.UnitsInStock; i++)
                                    {
                                                        <option value="@i">@i</option>
                                        if (i >= 50)
                                        {
                                                            <option>...</option>
                                            break;
                                        }
                                    }
                                }
                                }
                        </select>
                        <input type="hidden" value="@Model.ProductId" name="id" />
                            @{
                                if(Context.Request.Cookies[CDictionary.SK_PRODUCT_TRACK] == null)
                                {
                                    <img src="~/img/Noheart.png" id="ProductTracking" />
                                }
                                else
                                {
                                    string json = Context.Request.Cookies[CDictionary.SK_PRODUCT_TRACK];
                                    List<CProductWarp> list = JsonSerializer.Deserialize<List<CProductWarp>>(json);
                                    foreach (var item in list)
                                    {
                                        if (Model.ProductId == item.ProductId)
                                        {
                                            <img src="~/img/heart.png" id="ProductTracking" />
                                        }
                                        else
                                        {
                                            <img src="~/img/Noheart.png" id="ProductTracking" />
                                        }
                                    }
                                }

                                
                            }
                        <button class="btn btn-info" onclick="addToCart(event)">加入購物車</button>
                        </form>
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->
@section Scripts{
    <script>
        const item = document.querySelector("#datas");
        const id = @Model.ProductId;
        console.log(id);
        var data = new FormData(item);
        let heart = document.querySelector("#ProductTracking");
        heart.addEventListener("click", ProductTracking);
        async function addToCart(event){
            event.preventDefault()
            var data = new FormData(item);
            const response = await fetch("@Url.Content("~/Shopping/AddToCart")",{
                body: data,
                method:"POST",
            })
            const re = await response.text();
            getcartList()
            alert("加入購物車成功");
        }
        async function ProductTracking(event){
            event.preventDefault()
            let imgPath = event.target.src;
            let img = imgPath.lastIndexOf("/");
            let imgName = imgPath.substring(img + 1);

            if (imgName === "Noheart.png") {
                let url = `@Url.Content("/Shopping/ProductTracking?")Pid=${id}&heart=${imgName}`
                const response = await fetch(url)
                const data = await response.text();
                console.log(data);
                event.target.src= "/img/heart.png";
            } else if(imgName === "heart.png") {
                let url = `@Url.Content("/Shopping/ProductTracking?")Pid=${id}&heart=${imgName}`
                const response = await fetch(url)
                const data = await response.text();
                console.log(data);
                event.target.src = "/img/Noheart.png";
            }
        }
        function changeImg(imgElement) {
            $("#imgList>img").css("border", "");
            const src = imgElement.src;
            document.querySelector("#mainImg").src = src;
            imgElement.style.border = "1px dashed red";
        }
    </script>
}