@model MedSysProject.Models.MemberWarp

@{
    ViewData["Title"] = "UpdataMember";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
@section LinkStyle {
    <link rel="stylesheet" href="~/vendor/cropperjs/cropper.css" />
    <link rel="stylesheet" href="~/css/AccoutUpdataMember.css" />

    <style>
        .cropper-container {
            width: 250px; /* 设置为父容器宽度的百分比，或者具体的像素值 */
            height: 250px; /* 设置为父容器高度的百分比，或者具体的像素值 */
        }


    </style>
}

<div class="UPdiv" style="width:70%">
    <form class="row g-3 fromP" method="post" enctype="multipart/form-data">
        <input type="hidden" name="MemberId" value=@Model.MemberId />
        <div class="col-12">
            <label for="inputEmail4" class="form-label" name="MemberEmail">電子郵件</label>
            <input type="email" class="form-control" id="inputEmail4" name="MemberEmail" value="@Model.MemberEmail">
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label" name="MemberAddress">地址</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="MemberAddress" value="@Model.MemberAddress">
            @*             @{
            string address = Model.MemberAddress;
            string[] addressArray = address.Split(' ');

            }
            // select 縣市
            <select class="form-control" id="inputAddressCity" name="MemberAddressCity"></select>
            // select 鄉鎮市區
            <select class="form-control" id="inputAddressArea" name="MemberAddressArea"></select>
            // text 詳細地址
            <input type="text" class="form-control" id="inputAddressDetail" placeholder="詳細地址" name="MemberAddressDetail" value="@addressArray[2]"> *@
        </div>
        <div class="col-md-6">
            <label class="form-label" name="MemberNickname">暱稱</label>
            <input type="text" class="form-control" id="MemberNickname" name="MemberNickname" value="@Model.MemberNickname">
        </div>
        <div class="col-md-6">
            <label class="form-label" name="MemberName">會員姓名</label>
            <input type="text" class="form-control" id="MemberName" name="MemberName" value="@Model.MemberName">
        </div>

        <div class="col-12">
            <div class="form-group">
                <label asp-for="MemberBirthdate" class="control-label"></label>
                <input asp-for="MemberBirthdate" class="form-control" name="MemberBirthdate" />
                <span asp-validation-for="MemberBirthdate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <span>瀏覽圖片</span>
            <input type="file" name="fileN" id="fileN" />
        </div>

        <!-- 上傳圖片預覽 -->
        @{
            if (Model.MemberImage != null)
            {
                string imgFN = Model.MemberImage;

                <div class="col-12">
                    <img src="@Url.Content("~/img/MemberImg/" + imgFN)" id="btnImg" style="width: 200px; height: 200px;" />
                    @*<img src="@Url.Content("~/img/MemberImg/" + imgFN)" id="btnImgPreview" style="width: 200px; height: 200px;" />*@
                </div>
            }
        }


        <div class="col-12">
            <button type="submit" class="btn btn-primary">儲存並修改</button>
        </div>
    </form>

</div>
@section Scripts {
    <script src="~/vendor/cropperjs/cropper.js"></script>
    <script src="~/js/dist/tw-city-selector.js"></script>
    <script>
        const btnImg = document.querySelector('#btnImg');
        const btnImgPreview = document.querySelector('#btnImgPreview');
        const fileN = document.querySelector('#fileN');

        // const cropper = new Cropper (btnImg, {
        //     aspectRatio: 1 / 1,
        //     viewMode: 1,
        //     preview: '#btnImgPreview',
        //     crop(event) {
        //         //顯示在#btnImgPreview的圖片
        //         btnImgPreview.src = cropper.getCroppedCanvas().toDataURL('image/jpeg');
        //     },
        // });

        fileN.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.addEventListener('load', function () {
                    btnImg.setAttribute('src', this.result);
                });
                reader.readAsDataURL(file);
            }
        });

    </script>
}
