<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>CodePen Demo</title>

    <meta name="robots" content="noindex">

    <link rel="stylesheet" href="~/forevendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/reset.min.css">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.css" />

    <style id="INLINE_PEN_STYLESHEET_ID">
        @@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

        *, *:before, *:after {
            box-sizing: border-box;
        }

        html, body, .chat-container {
            height: 100%;
            overflow: hidden;
        }

        body {
            background-color: #f8f8f8;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            background-image: url("https://bestdori.com/assets/jp/characters/resourceset/res036003_rip/card_after_training.png");
            background-size: cover;
            background-repeat: none;
        }

        .wrapper {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            min-height: 100%;
            height: 100%;
        }

        .chat-container {
            background-color: #fff;
        }

            .chat-container .left {
                float: left;
                width: 220px;
                height: 100%;
                border: 1px solid #e6e6e6;
                background-color: #fff;
            }

                .chat-container .left .top {
                    position: relative;
                    width: 100%;
                    height: 96px;
                    padding: 29px;
                }

                    .chat-container .left .top:after {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        display: block;
                        width: 80%;
                        height: 1px;
                        content: '';
                        background-color: #e6e6e6;
                        transform: translate(-50%, 0);
                    }

                .chat-container .left input {
                    float: left;
                    width: calc(100% - 60px);
                    height: 42px;
                    padding: 0 15px;
                    border: 1px solid #e6e6e6;
                    background-color: #eceff1;
                    border-radius: 21px;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 400;
                }

                    .chat-container .left input:focus {
                        outline: none;
                    }

                .chat-container .left a.search {
                    display: block;
                    float: right;
                    width: 42px;
                    height: 42px;
                    margin-left: 10px;
                    border: 1px solid #e6e6e6;
                    background-color: #00b0ff;
                    background-image: url("https://s11.postimg.org/dpuahewmn/name_type.png");
                    background-repeat: no-repeat;
                    background-position: top 12px left 14px;
                    border-radius: 50%;
                }

                .chat-container .left .people {
                    margin-left: -1px;
                    border-right: 1px solid #e6e6e6;
                    border-left: 1px solid #e6e6e6;
                    width: calc(100% + 2px);
                }

                    .chat-container .left .people .person {
                        position: relative;
                        width: 100%;
                        padding: 12px 10% 16px;
                        cursor: pointer;
                        background-color: #fff;
                    }

                        .chat-container .left .people .person:after {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            display: block;
                            width: 80%;
                            height: 1px;
                            content: '';
                            background-color: #e6e6e6;
                            transform: translate(-50%, 0);
                        }

                        .chat-container .left .people .person img {
                            float: left;
                            width: 40px;
                            height: 40px;
                            margin-right: 12px;
                            border-radius: 50%;
                        }

                        .chat-container .left .people .person .name {
                            font-size: 14px;
                            line-height: 22px;
                            color: #1a1a1a;
                            font-family: 'Source Sans Pro', sans-serif;
                            font-weight: 600;
                        }

                        .chat-container .left .people .person .time {
                            font-size: 14px;
                            position: absolute;
                            top: 16px;
                            right: 10%;
                            padding: 0 0 5px 5px;
                            color: #999;
                            background-color: #fff;
                        }

                        .chat-container .left .people .person .preview {
                            font-size: 14px;
                            display: inline-block;
                            overflow: hidden !important;
                            width: 70%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            color: #999;
                        }

                        .chat-container .left .people .person.active, .chat-container .left .people .person:hover {
                            margin-top: -1px;
                            margin-left: -1px;
                            padding-top: 13px;
                            border: 0;
                            background-color: #00b0ff;
                            width: calc(100% + 2px);
                            padding-left: calc(10% + 1px);
                        }

                            .chat-container .left .people .person.active span, .chat-container .left .people .person:hover span {
                                color: #fff;
                                background: transparent;
                            }

                            .chat-container .left .people .person.active:after, .chat-container .left .people .person:hover:after {
                                display: none;
                            }

            .chat-container .right {
                flex: 1 1px;
                position: relative;
                float: left;
                width: calc(100% - 220px);
                height: 100%;
            }

                .chat-container .right .top {
                    width: 100%;
                    height: 47px;
                    padding: 15px 29px;
                    background-color: #eceff1;
                }

                    .chat-container .right .top span {
                        font-size: 15px;
                        color: #999;
                    }

                        .chat-container .right .top span .name {
                            color: #1a1a1a;
                            font-family: 'Source Sans Pro', sans-serif;
                            font-weight: 600;
                        }

                .chat-container .right .chat {
                    position: relative;
                    display: none;
                    overflow-x: hidden;
                    padding: 20px 35px 20px;
                    border-width: 1px 1px 1px 0;
                    border-style: solid;
                    border-color: #e6e6e6;
                    height: calc(100% - 148px);
                    flex-direction: column;
                }

                    .chat-container .right .chat.active-chat {
                        display: flex;
                    }

                .chat-container .right .write {
                    position: absolute;
                    bottom: 29px;
                    left: 30px;
                    height: 42px;
                    padding-left: 8px;
                    border: 1px solid #e6e6e6;
                    background-color: #eceff1;
                    width: calc(100% - 58px);
                    border-radius: 5px;
                }

                    .chat-container .right .write input {
                        font-size: 16px;
                        float: left;
                        width: calc(100% - 90px);
                        height: 40px;
                        padding: 0 10px;
                        color: #1a1a1a;
                        border: 0;
                        outline: none;
                        background-color: #eceff1;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: 400;
                    }

                /*                     .chat-container .right .write .write-link.attach:before {
                                                                                                                                                                                                                                                                                                        display: inline-block;
                                                                                                                                                                                                                                                                                                        float: left;
                                                                                                                                                                                                                                                                                                        width: 20px;
                                                                                                                                                                                                                                                                                                        height: 42px;
                                                                                                                                                                                                                                                                                                        content: '';
                                                                                                                                                                                                                                                                                                        background-image: url("https://s1.postimg.org/s5gfy283f/attachemnt.png");
                                                                                                                                                                                                                                                                                                        background-repeat: no-repeat;
                                                                                                                                                                                                                                                                                                        background-position: center;
                                                                                                                                                                                                                                                                                                    } */

                /*                     .chat-container .right .write .write-link.smiley:before {
                                                                                                                                                                                                                                                                                                        display: inline-block;
                                                                                                                                                                                                                                                                                                        float: right;
                                                                                                                                                                                                                                                                                                        width: 20px;
                                                                                                                                                                                                                                                                                                        height: 42px;
                                                                                                                                                                                                                                                                                                        margin-right: 11px;
                                                                                                                                                                                                                                                                                                        content: '';
                                                                                                                                                                                                                                                                                                        background-image: url("https://s14.postimg.org/q2ug83h7h/smiley.png");
                                                                                                                                                                                                                                                                                                        background-repeat: no-repeat;
                                                                                                                                                                                                                                                                                                        background-position: center;
                                                                                                                                                                                                                                                                                                    } */

                /*                     .chat-container .right .write .write-link.send:before {
                                                                                                                                                                                                                                                                                                        display: inline-block;
                                                                                                                                                                                                                                                                                                        float: right;
                                                                                                                                                                                                                                                                                                        width: 20px;
                                                                                                                                                                                                                                                                                                        height: 42px;
                                                                                                                                                                                                                                                                                                        margin-right: 11px;
                                                                                                                                                                                                                                                                                                        content: '';
                                                                                                                                                                                                                                                                                                        background-image: url("https://s30.postimg.org/nz9dho0pp/send.png");
                                                                                                                                                                                                                                                                                                        background-repeat: no-repeat;
                                                                                                                                                                                                                                                                                                        background-position: center;
                                                                                                                                                                                                                                                                                                    } */

                .chat-container .right .bubble {
                    font-size: 16px;
                    position: relative;
                    display: inline-block;
                    clear: both;
                    margin-bottom: 8px;
                    padding: 13px 14px;
                    vertical-align: top;
                    border-radius: 5px;
                }

                    .chat-container .right .bubble:before {
                        position: absolute;
                        top: 19px;
                        display: block;
                        width: 8px;
                        height: 6px;
                        content: '\00a0';
                        transform: rotate(29deg) skew(-35deg);
                    }

                    .chat-container .right .bubble.you {
                        float: left;
                        color: #fff;
                        background-color: #026500;
                        align-self: flex-start;
                        -webkit-animation-name: slideFromLeft;
                        animation-name: slideFromLeft;
                    }

                        .chat-container .right .bubble.you:before {
                            left: -3px;
                            background-color: #026500;
                        }

                    .chat-container .right .bubble.me {
                        float: right;
                        color: #1a1a1a;
                        background-color: #eceff1;
                        align-self: flex-end;
                        -webkit-animation-name: slideFromRight;
                        animation-name: slideFromRight;
                    }

                        .chat-container .right .bubble.me:before {
                            right: -3px;
                            background-color: #eceff1;
                        }

                .chat-container .right .conversation-start {
                    position: relative;
                    width: 100%;
                    margin-bottom: 27px;
                    text-align: center;
                }

                    .chat-container .right .conversation-start span {
                        font-size: 14px;
                        display: inline-block;
                        color: #999;
                    }

                        .chat-container .right .conversation-start span:before, .chat-container .right .conversation-start span:after {
                            position: absolute;
                            top: 10px;
                            display: inline-block;
                            width: 30%;
                            height: 1px;
                            content: '';
                            background-color: #e6e6e6;
                        }

                        .chat-container .right .conversation-start span:before {
                            left: 0;
                        }

                        .chat-container .right .conversation-start span:after {
                            right: 0;
                        }

        @@keyframes slideFromLeft {
            0% {
                margin-left: -200px;
                opacity: 0;
            }

            100% {
                margin-left: 0;
                opacity: 1;
            }
        }

        @@-webkit-keyframes slideFromLeft {
            0% {
                margin-left: -200px;
                opacity: 0;
            }

            100% {
                margin-left: 0;
                opacity: 1;
            }
        }

        @@keyframes slideFromRight {
            0% {
                margin-right: -200px;
                opacity: 0;
            }

            100% {
                margin-right: 0;
                opacity: 1;
            }
        }

        @@-webkit-keyframes slideFromRight {
            0% {
                margin-right: -200px;
                opacity: 0;
            }

            100% {
                margin-right: 0;
                opacity: 1;
            }
        }
    </style>

</head>

<body>
    <div class="wrapper" style="max-width: 100%; max-height:100%;">
        <div class="chat-container">
            <input type="hidden" value="@ViewBag.MemberId" id="hiddenMemberid" />
            <input type="hidden" value="@ViewBag.EmployeeId" id="hiddenEmployeeid" />
            <div class="left">
                <ul class="people" id="employee-online-list">
                    
                    <li class="person" data-chat="employee124" id="li-124" onclick="leftclick(this)">
                        <img src="@Url.Content("~/Admin/EmployeeImage/124")" alt="">
                        <input type="hidden" value="124" id="hiddenid" />
                        <span class="name">健康AI</span>
                        <span class="time"></span>
                        <span class="preview"></span>
                    </li>


                </ul>
            </div>
            <div class="right" id="chatroom">
                <p>請選擇聊天對象</p>
            </div>
        </div>
    </div>


    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        var hiddenRoomid = null;
        var hiddenMemberid = parseInt(document.getElementById("hiddenMemberid").value);
        if (hiddenMemberid == "") {
            hiddenMemberid = null;
        }
        var hiddenEmployeeid = parseInt(document.getElementById("hiddenEmployeeid").value);
        if (hiddenEmployeeid == "") {
            hiddenEmployeeid = null;
        }

        //與Server建立連線
        connection.start().then(function () {
            console.log("Hub 連線完成");
        }).catch(function (err) {
            alert('連線錯誤: ' + err.toString());
        });

        // connection.on("UpdateMemberList" , function (memberList) {
        //     console.log(memberList);
        //     var html = "";
        //     for (var i = 0; i < memberList.length; i++) {
        //         html += "<li class='person' data-chat='person" + memberList[i].EmployeeID + "'><img src='https://s11.postimg.org/9bvk0v1gv/img1.jpg' alt='' /><span class='name'>" + memberList[i].EmployeeName + "</span><span class='time'>2:09 PM</span><span class='preview'>I was wondering...</span></li>";
        //     }
        //     $("#employee-online-list").html(html);
        // });

        connection.on("UpdateEmployeeList", function (jsonn) {
            console.log("aaaaada");
            console.log(jsonn);
            jsonArray = JSON.parse(jsonn);
            console.log(jsonArray);

            console.log("有" + jsonArray.length);
            // document.querySelector("#employee-online-list").innerHTML = "aaaaaaaaaaaaaaa";
            document.getElementById("employee-online-list").innerHTML = "";

            for (var i = 0; i < jsonArray.length; i++) {
                var employeeid = jsonArray[i].EmployeeId;
                var employeename = jsonArray[i].EmployeeName;
                document.getElementById("employee-online-list").innerHTML += `                  <li class="person" data-chat="employee${employeeid}" id="li-${employeeid}" onclick="leftclick(this)">
                                                                                                                                                                                                                    <img src="@Url.Content("~/Admin/EmployeeImage/${employeeid}")" alt="">
                                                                                                                                                                                                                    <input type="hidden" value="${employeeid}" id="hiddenid"/>
                                                                                                                                                                                                                    <span class="name">${employeename}</span>
                                                                                                                                                                                                            <span class="time"></span>
                                                                                                                                                                                                            <span class="preview"></span>
                                                                                                                                                                                                            </li>`;
            }

        });

        // connection.on("UpdateMemberList", function (jsonn) {
        //     console.log("aaaaada");
        //     console.log(jsonn);
        //     jsonArray = JSON.parse(jsonn);
        //     console.log(jsonArray);

        //     console.log("有" + jsonArray.length);
        //     // document.querySelector("#employee-online-list").innerHTML = "aaaaaaaaaaaaaaa";
        //     document.getElementById("employee-online-list").innerHTML = "";

        //     for (var i = 0; i < jsonArray.length; i++) {
        //         var memberid = jsonArray[i].MemberId;
        //         var membername = jsonArray[i].MemberName;
        //         document.getElementById("employee-online-list").innerHTML += `                  <li class="person" data-chat="member${memberid}" id="li-${memberid}" onclick="leftclick(this)">
        //                                                                                                                                                                                                     <img src="@Url.Content("~/Member/MemberImage/${memberid}")" alt="">
        //                                                                                                                                                                                                     <input type="hidden" value="${memberid}" id="hiddenid"/>
        //                                                                                                                                                                                                     <span class="name">${membername}</span>
        //                                                                                                                                                                                             <span class="time"></span>
        //                                                                                                                                                                                             <span class="preview"></span>
        //                                                                                                                                                                                             </li>`;
        //     }

        // });

        function leftclick(element) {
            //先找到點下去 自身li中hidden的input
            var employeeid = element.querySelector("#hiddenid").value;
            console.log(employeeid);
            element.classList.add("active"); //加上active
            //其他li移除active
            var li = document.querySelectorAll(".person");
            for (var i = 0; i < li.length; i++) {
                if (li[i].id != element.id) {
                    li[i].classList.remove("active");
                }
            }

            showroom(employeeid);
        }

        function showroom(employeeid) {
            const room = document.getElementById("chatroom");
            const url = `https://localhost:7203/SignalRTest/ChatRoom?memberid=${hiddenMemberid}&employeeid=${employeeid}&direction=1`;
            console.log(url);

            fetch(url)
                .then(res => res.text())
                .then(data => {
                    room.innerHTML = data;

                    // ----------------- 以下為聊天室的js -----------------
                    //卷軸置底
                    document.getElementById("aaatest").scrollTop = document.getElementById("aaatest").scrollHeight;

                    connection.on("ReceiveMemberMessage", function (memberId, message) {
                        // alert("ReceiveMemberMessage:" + " " + memberId + " " + message);
                        // if (memberId == hiddenMemberid && employeeId == hiddenEmployeeid) {
                        document.getElementById("aaatest").innerHTML += `<div class="bubble me">${message}</div>`;
                        document.getElementById("aaatest").scrollTop = document.getElementById("aaatest").scrollHeight;
                        // }
                    });

                    connection.on("ReceiveEmployeeMessage", function (employeeId, message) {
                        // alert("ReceiveEmployeeMessage:" + " " + employeeId + " " + message);
                        // if (memberId == hiddenMemberid && employeeId == hiddenEmployeeid) {
                        document.getElementById("aaatest").innerHTML += `<div class="bubble you">${message}</div>`;
                        document.getElementById("aaatest").scrollTop = document.getElementById("aaatest").scrollHeight;
                        // }
                    });

                    connection.on("testtt", function () {
                        alert("testtt");
                    });

                    //
                    function sendmsg() {
                        var direction = document.getElementById("hiddendirectionid").value;

                        if (document.getElementById("chat-messagebox").value == "") {
                            return;
                        }

                        let text = document.getElementById("chat-messagebox").value;
                        document.getElementById("chat-messagebox").value = "";

                        // document.getElementById("aaatest").innerHTML += `<div class="bubble me">${text}</div>`;

                        // document.getElementById("aaatest").scrollTop = document.getElementById("aaatest").scrollHeight;

                        hiddenRoomid = parseInt(document.getElementById("hiddenRoomid").value);
                        hiddenMemberid = parseInt(document.getElementById("hiddenMemberid").value);
                        hiddenEmployeeid = parseInt(document.getElementById("hiddenEmployeeid").value);


                        console.log(hiddenRoomid)
                        console.log(hiddenMemberid)
                        console.log(hiddenEmployeeid)
                        console.log(text)

                        //傳送訊息給Server
                        if (direction == 1)
                            connection.invoke("SendMessage", hiddenRoomid, hiddenMemberid, null, text).catch(function (err) {
                                return console.error(err.toString());
                            });
                        else
                            connection.invoke("SendMessage", hiddenRoomid, null, hiddenEmployeeid, text).catch(function (err) {
                                return console.error(err.toString());
                            });

                        event.preventDefault();
                    };

                    //enter鍵送出
                    document.getElementById("chat-messagebox").addEventListener("keyup", function (event) {
                        if (event.keyCode === 13) {
                            sendmsg();
                        }
                    });

                    //----------------- 以上為聊天室的js -----------------
                })

        }

        // //傳送訊息前端
        // function sendmsg() {
        //     if (document.getElementById("chat-messagebox").value == "") {
        //         return;
        //     }

        //     let text = document.getElementById("chat-messagebox").value;
        //     document.getElementById("chat-messagebox").value = "";

        //     document.getElementById("aaatest").innerHTML += `<div class="bubble me">${text}</div>`;

        //     document.getElementById("aaatest").scrollTop = document.getElementById("aaatest").scrollHeight;

        //     hiddenRoomid = parseInt(document.getElementById("hiddenRoomid").value);

        //     console.log(hiddenRoomid)
        //     console.log(hiddenMemberid)
        //     console.log(hiddenEmployeeid)
        //     console.log(text)

        //     //傳送訊息給Server
        //     connection.invoke("SendMessage", hiddenRoomid, hiddenMemberid, hiddenEmployeeid, text).catch(function (err) {
        //         return console.error(err.toString());
        //     });

        //     event.preventDefault();
        // };

        // //enter傳送訊息
        // function entersend() {
        //     var target = event.target;

        //     if (target.classList.contains("chat-messagebox")) {
        //         if (event.keyCode === 13) {
        //             event.preventDefault();
        //             document.getElementById("chat-btnsend").click();
        //         }
        //     }
        // };
    </script>


</body>
</html>