@model IEnumerable<MedSysProject.Models.Message>

<div class="top"><span>傳送訊息給: <span class="name">@ViewBag.EmployeeName</span></span></div>
<input type="hidden" value="@ViewBag.EmployeeId" />

<input type="hidden" value="@ViewBag.MemberId" id="hiddenMemberid" />
<input type="hidden" value="@ViewBag.EmployeeId" id="hiddenEmployeeid" />
<input type="hidden" value="@ViewBag.RoomId" id="hiddenRoomid" />

<!-- 訊息內容 -->

<div class="chat active-chat" id="aaatest">
    <div class="conversation-start">
        @*         <div class="chat active-chat" data-chat="person2" id="aaatest">
        <div class="conversation-start"> *@
        @* <span>Today, 5:38 PM</span> *@
    </div>


    @foreach (var mgs in Model)
    {
        if (mgs.MemberId == ViewBag.MemberId)
        {
            <div class="bubble me">@mgs.MessageContent</div>
        }
        else
        {
            <div class="bubble you">@mgs.MessageContent</div>
        }
    }
</div>
@* <span>Today, 6:48 AM</span> *@
@*     </div>
</div> *@

<div class="write">
    @* <a href="javascript:;" class="write-link attach"></a> *@
    <input type="text" placeholder="輸入訊息..." id="chat-messagebox">
    <a href="javascript:;" class="btn btn-primary"><i class="fas fa-smile"></i></a>
    <a href="javascript:;" class="btn btn-success" id="chat-btnsend" onclick="sendmsg()"><i class="fas fa-paper-plane"></i></a>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    var hiddenMemberid = document.getElementById("hiddenMemberid").value;
    var hiddenEmployeeid = document.getElementById("hiddenEmployeeid").value;

    //與Server建立連線
    connection.start().then(function () {
        console.log("Hub 連線完成");
    }).catch(function (err) {
        alert('連線錯誤: ' + err.toString());
    });

    connection.on("testt", function (c) {
        console.log("tessssttttt" + c);
    });

    connection.on("ReceiveMessage", function (memberId, employeeId, message) {
        if (memberId == hiddenMemberid && employeeId == hiddenEmployeeid) {
            document.getElementById("aaatest").innerHTML += `<div class="bubble you">${message}</div>`;
            document.getElementById("aaatest").scrollTop = document.getElementById("aaatest").scrollHeight;
        }
    });

    


</script>