@using System.Text.Json;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GO健康</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/forevendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/forevendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/forevendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/forevendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
   
    <!-- Template Main CSS File -->
    <link href="~/css/forestyle.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Amoeba
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    @await RenderSectionAsync("LinkStyle", required: false)
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="@Url.Content("~/js-Account/LayoutFore.js")"></script>


</head>

<body>
    <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
                <h1><a href="~/Home/Index"><img src="~/img/gohealth-logo.png" alt="" class="img-fluid"> GO健康</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
                <!-- =======最上方欄位 ======= -->
        <ul>
                    <li class="dropdown fs-4">
                        <a href="~/Home/Index#about"><span class="fs-4">關於GO健康</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="~/Home/Index#services">GO健康與您</a></li>
                            <li><a href="~/Home/Index#team">GO健康團隊</a></li>
                            <li><a href="~/Home/Index#contact">意見反映與交通資訊</a></li>
                        </ul>
                    </li>
                    <li>
                    
                    <li class="dropdown fs-4">
                        <a href="~/Home/planComeparison"><span class="fs-4">檢查專案</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            
                            <li class="dropdown fs-4">
                                <a href="#"><span class="fs-4">線上預約</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="~/Home/planComeparison">個人方案選擇與比較</a></li>
                                    <li><a href="~/Home/CompanyPlan">企業健檢方案選擇</a></li>
                                </ul>
                            </li>
                            <li><a href="~/Home/live">健檢完成項目及現場狀況</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Shopping" class="fs-4">購健康商城 @* <i class="bi bi-chevron-down"></i> *@</a>
                    </li>
                    <li><a class="nav-link scrollto fs-4" href="/blogs/index" >健康部落格</a>@* <a class="nav-link scrollto" href="#portfolio">健康部落格</a> *@</li>
                    <li style="margin-left:35px">
                        <button type="button" class="btn  position-relative" asp-action="CartList" asp-controller="Shopping">
                            <img src="@Url.Content("~/img/shopping-cart.png")" alt="Inbox Image" class="img-fluid" id="CartListImg" />
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                <span class=" p-1" id="cartlistcount" asp-action="CartList" asp-controller="Shopping"></span>
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </li>
                    @if (!Context.Session.Keys.Contains(CDictionary.SK_MEMBER_LOGIN))
                        {
                        <li>@Html.ActionLink("登入","Login","Accout",null,new{Class="nav-link scrollto fs-4"})</li>
                        }else{
                            string json = Context.Session.GetString(CDictionary.SK_MEMBER_LOGIN);
                            MemberWarp m = JsonSerializer.Deserialize<MemberWarp>(json);
                                <li class="dropdown">
                            <a href="#"><span class="fs-4">@m.MemberName</span><i class="bi bi-chevron-down"></i></a>
                                    <ul>
                                <li><a asp-action="MemberCenter" asp-controller="Accout">會員中心</a></li>
                                <li><a asp-action="Report" asp-controller="Home">健檢報告</a></li>
                                <li><a asp-action="OrderList" asp-controller="Shopping">訂單管理</a></li>
                                <li><a asp-action="Logout" asp-controller="Accout" id="logout">登出</a></li>
                                    </ul>
                                </li>
                            }
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->
    <main id="main" style="background-color:#F2F9F8">
    @RenderBody()
    <!-- ======= Footer ======= -->
    
    </main>
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                <strong><span>GO健康 版權所有</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
                <a href="~/">GO健康</a>
            </div>
        </div>
    </footer><!-- End #footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="~/forevendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/forevendor/glightbox/js/glightbox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"   integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="   crossorigin="anonymous"></script>
   
    <script src="~/forevendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/forevendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/forevendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/js/foremain.js"></script>


  
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        async function getcartList() {
            let url = "@Url.Content("~/Shopping/getcartList")";
            const response = await fetch(url);
            const count = await response.text();
            document.querySelector("#cartlistcount").innerHTML = count;
            console.log(count);
        }
        document.addEventListener('DOMContentLoaded', () => {
            getcartList()
            document.querySelector("#footer").style.margin = "";
            document.querySelector("#CartListImg").addEventListener("click", () => {

                window.location.href = "@Url.Content("~/Shopping/CartList")";
            })
        })
        
    </script>
</body>

</html>