

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>GoHealthyBlog</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Template Main CSS Files -->
    <link href="~/assets/css/variables.css" rel="stylesheet">
    <link href="~/Mine.css" rel="stylesheet">
    @*  <link href="~/assets/css/main.css" rel="stylesheet"> *@
    <!--//todo暫時用他給的，有空附上我自己的樣式表...-->
    @await RenderSectionAsync("IndexCss", false)
    @*  <link href="~/assets/css/main.css" rel="stylesheet"> *@
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="@Url.Content("~/Blogs/Index")" class="logo" style="font-size:2rem;">GoHealthBlog</a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>@Html.ActionLink("部落格首頁", "Index", "Blogs", null, null)</li>
                    <li>@Html.ActionLink("單篇貼文", "SinglePost", "Blogs",null, null)</li>
                    <li class="dropdown">
                        <!--文章類別選單箭頭-->
                        <a href="/blogs/SelectBlogCategory"><span>文章類別</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="/blogs/SelectBlogCategory?CategoryID=1">活動快訊</a></li>
                            <li><a href="/blogs/SelectBlogCategory?CategoryID=2">醫療新知</a></li>
                            <li><a href="/blogs/SelectBlogCategory?CategoryID=3">名人分享會</a></li>
                            <li><a href="/blogs/SelectBlogCategory?CategoryID=4">媒體報導</a></li>
                            <li><a href="/blogs/SelectBlogCategory?CategoryID=5">企業責任</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("關於夠健康", "AboutUs", "Blogs", null, null)</li>
                    <li>@Html.ActionLink("聯絡我們", "ContactUs", "Blogs", null, null)</li>
                </ul>
            </nav>
            <div class="position-relative">
                <a href="#" class="mx-2">
                    <span class="bi-bell position-relative">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            1
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </span>
                </a>
                <!--要改小鈴鐺-->
                <a href="#" class="mx-2 js-seacrh-open"><span class="bi-search"></span></a>
                <!--導覽列收折按鍵-->
                <i class="bi bi-list mobile-nav-toggle" style="color:#d2ece9; i:hover="#fff"></i>
                <!--搜尋-->
                <div class="search-form-wrap js-search-form-wrap">
                    <form class="search-form" action="#">
                        <!--放大鏡按鍵-->
                        <span class="icon bi-search"></span>
                        <input class="form-control" type="text" placeholder="Search">
                        <button class="btn js-search-close"><span class="bi-x"></span></button>
                    </form>
                </div>
                <!--End搜尋-->
            </div>
        </div>

    </header>

    @RenderBody()

    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">

                <div class="row g-5">
                    <div class="col-lg-4">
                        <h3 class="footer-heading">關於夠健康</h3>
                        <p>GO健康的成立，源於對社會健康的關切以及對人們更好生活的渴望。當今社會節奏快速，人們的生活壓力逐漸增大，健康成為越來越受重視的話題。GO健康的創辦人們深信，透過科技和創新的手段，可以為人們提供更便捷、全面的健康服務。我們希望成為一個引領健康風潮的平台，為每個人的健康助力，讓生活充滿活力和動力。</p>
                        <p><a href="~/Home/Index#about" class="footer-link-more">查看更多</a></p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">網站導覽</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a href="index.html"><i class="bi bi-chevron-right"></i> Home</a></li>
                            <li><a href="index.html"><i class="bi bi-chevron-right"></i> Blog</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Categories</a></li>
                            <li><a href="single-post.html"><i class="bi bi-chevron-right"></i> Single Post</a></li>
                            <li><a href="about.html"><i class="bi bi-chevron-right"></i> About us</a></li>
                            <li><a href="contact.html"><i class="bi bi-chevron-right"></i> Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">文章類別</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> 活動快訊</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> 醫療新知</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> 名人分享會</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> 媒體報導</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> 企業責任</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4">
                        <h3 class="footer-heading">近期貼文</h3>

                        <ul class="footer-links footer-blog-entry list-unstyled">
                            <li>
                                <a href="single-post.html" class="d-flex align-items-center">
                                    <img src="~/assets/img/post-sq-1.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>5 Great Startup Tips for Female Founders</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-post.html" class="d-flex align-items-center">
                                    <img src="~/assets/img/post-sq-2.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-post.html" class="d-flex align-items-center">
                                    <img src="~/assets/img/post-sq-3.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>Life Insurance And Pregnancy: A Working Mom’s Guide</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-post.html" class="d-flex align-items-center">
                                    <img src="~/assets/img/post-sq-4.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>How to Avoid Distraction and Stay Focused During Video Calls?</span>
                                    </div>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </footer>


    @await RenderSectionAsync("Scripts", false);
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- JavaScripts放這 -->
    <script src="~/assets/js/mine.js"></script>
</body>
</html>
