@using System.Text.Json;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Amoeba Bootstrap Template - Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/forevendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/forevendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/forevendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/forevendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/forestyle.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Amoeba
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="@Url.Content("~/home/Index")">GO健康購物中心</a></h1>

            </div>

            <nav id="navbar" class="navbar">


                <!-- =======最上方欄位 ======= -->

                <ul>
                    <li>
                        <div class="input-group mb-3" style="padding-top:16px">
                            <input type="text" class="form-control" placeholder="請輸入關鍵字" aria-label="請輸入關鍵字" aria-describedby="button-addon2" id="Key">
                            <input type="button" class="btn btn-outline-secondary btn-light" value="搜尋" id="KeySearch" />
                        </div>
                    </li>
                    @{
                        if (Context.Session.Keys.Contains(CDictionary.SK_MEMBER_LOGIN))
                        {
                            string? json = Context.Session.GetString(CDictionary.SK_MEMBER_LOGIN);
                            Member? m = JsonSerializer.Deserialize<Member>(json);
                            <li>@Html.ActionLink(m?.MemberName, "MemberCenter", "Accout", null, new { Class = "nav-link scrollto", style = "font-size:20px" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("登入", "Login", "Accout", null, new { Class = "nav-link scrollto", style = "font-size:20px" })</li>
                            <li>@Html.ActionLink("註冊", "Login", "Accout", null, new { Class = "nav-link scrollto", style = "font-size:20px" })</li>
                        }
                    }
                    <li>@Html.ActionLink("會員中心", "MemberCenter", "Accout", null, new { Class = "nav-link scrollto", style = "font-size:20px" })</li>
                    <li>@Html.ActionLink("查訂單", "Login", "Accout", null, new { Class = "nav-link scrollto", style = "font-size:20px" })</li>
                    <li>@Html.ActionLink("查看購物車", "CartList", "Shopping", null, new { Class = "nav-link scrollto", style = "font-size:20px" })</li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End #header -->
    <main id="main" style="background-color:#F2F9F8">
        <div class="container">
            <link rel="stylesheet" href="~/css/Shopping.css" />
            <div class=" row align-items-center">
                <div class="col text-center"><a style="margin:auto" asp-action="Search" asp-route-id="1">胃腸道</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="2">調節血脂</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="3">護肝</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="4">骨質保健</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="5">免疫調節</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="6">調整過敏</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="7">不形成體脂</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="8">調節血糖</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="9">調節血壓</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="10">抗疲勞</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="11">延緩衰老</a></div>
                <div class="col text-center"><a asp-action="Search" asp-route-id="12">促進鐵利用</a></div>
            </div>
        </div>

        @RenderBody()
        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Amoeba</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </footer><!-- End #footer -->
    </main>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/forevendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/forevendor/glightbox/js/glightbox.min.js"></script>
    @*    <script src="~/forevendor/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/forevendor/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/forevendor/vendor/php-email-form/validate.js"></script>*@

    <!-- Template Main JS File -->
    @*<script src="/js/foremain.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const KeySearch = document.querySelector('#KeySearch');

        KeySearch.addEventListener('click', () => {
            var Key = document.querySelector('#Key').value;
            var Url = `https://localhost:7203/Shopping/KeySearch/${Key}`
            window.location.href = Url;
        })
    </script>
</body>

</html>