@model List<MedSysProject.Models.Blog>
<section class="category-section">
    <div class="container" data-aos="fade-up">
        <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h2>醫療新知</h2>
            <div><a href="category.html" class="more">更多醫療資訊</a></div>
        </div>

        <div class="row">
            <div class="col-md-9 order-md-2">
                <!--大塊一-->
                <div class="d-lg-flex post-entry-2">
                    <a href="@Url.Content("~/Blogs/SinglePost")?SingleBlogID=@Model[0].BlogId"
                       class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                        @if (Model[0].BlogImage != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model[0].BlogImage)"
                                 alt=""
                                 class="img-fluid" />
                        }
                        else
                        {
                            <img src="~/assets/img/empty.png"
                                 alt=""
                                 class="img-fluid" />
                        }

                    </a>
                    <div>
                        <div class="post-meta">
                            <span class="date">@Model[0].ArticleClass.BlogCategory1</span>
                            <span class="mx-1">&bullet;</span> <span>@Model[0].CreatedAt.ToString("yyyy/MM/dd")</span>
                        </div>
                        <h3>
                            <a href="@Url.Content("~/Blogs/SinglePost")?SingleBlogID=@Model[0].BlogId">
                                @Model[0].Title
                            </a>
                        </h3>
                        <p>
                            
                            <!--Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Distinctio placeat exercitationem magni voluptates dolore.
                            Tenetur fugiat voluptates quas, nobis error deserunt aliquam
                            temporibus sapiente, laudantium dolorum itaque libero eos
                            deleniti?待修改-->
                        </p>
                        <div class="d-flex align-items-center author">
                            <div class="photo">
                                @if (Model[0].Employee.EmployeePhoto != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model[0].Employee.EmployeePhoto)"
                                         alt=""
                                         class="img-fluid" />
                                }
                            </div>
                            <div class="name">
                                <h3 class="m-0 p-0">@Model[0].Employee.EmployeeName</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <!--小塊有圖-->
                        <div class="post-entry-1 border-bottom">
                            <a href="@Url.Content("~/Blogs/SinglePost")?SingleBlogID=@Model[1].BlogId">
                                @if (Model[1].BlogImage != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model[1].BlogImage)"
                                         alt=""
                                         class="img-fluid" />
                                }
                                else
                                {
                                    <img src="~/assets/img/empty.png"
                                         alt=""
                                         class="img-fluid" />
                                }
                            </a>
                            <div class="post-meta">
                                <span class="date">@Model[1].ArticleClass.BlogCategory1</span>
                                <span class="mx-1">&bullet;</span>
                                <span>@Model[1].CreatedAt.ToString("yyyy/MM/dd")</span>
                            </div>
                            <h2 class="mb-2">
                                <a href="@Url.Content("~/Blogs/SinglePost")?SingleBlogID=@Model[1].BlogId">@Model[1].Title</a>
                            </h2>
                            <span class="author mb-3 d-block">@Model[1].Employee.EmployeeName</span>
                            <p class="mb-4 d-block">
                                <!--Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Vero temporibus repudiandae, inventore pariatur numquam
                                cumque possimus待修改-->
                            </p>
                        </div>
                        <!--小塊沒圖-->
                        <div class="post-entry-1">
                            <div class="post-meta">
                                <span class="date">@Model[3].ArticleClass.BlogCategory1</span>
                                <span class="mx-1">&bullet;</span>
                                <span>@Model[3].CreatedAt.ToString("yyyy/MM/dd")</span>
                            </div>
                            <h2 class="mb-2">
                                <a href="@Url.Content("~/Blogs/SinglePost")?SingleBlogID=@Model[3].BlogId">@Model[3].Title</a>
                            </h2>
                            <span class="author mb-3 d-block">@Model[3].Employee.EmployeeName</span>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <!--下面大塊-->
                        <div class="post-entry-1">
                            <a href="single-post.html">
                                @if (Model[2].BlogImage != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model[2].BlogImage)"
                                         alt=""
                                         class="img-fluid" />
                                }
                                else
                                {
                                    <img src="~/assets/img/empty.png"
                                         alt=""
                                         class="img-fluid" />
                                }
                            </a>
                            <div class="post-meta">
                                <span class="date">@Model[2].ArticleClass.BlogCategory1</span>
                                <span class="mx-1">&bullet;</span>
                                <span>@Model[2].CreatedAt</span>
                            </div>
                            <h2 class="mb-2">
                                <a href="single-post.html">
                                    @Model[2].Title
                                </a>
                            </h2>
                            <span class="author mb-3 d-block">@Model[2].Employee.EmployeeName</span>
                            <p class="mb-4 d-block">
                                <!--Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Vero temporibus repudiandae, inventore pariatur numquam
                                cumque possimus待修改-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sideMedical">
                
            </div>
        </div>
    </div>
</section>