@using System.Text.Json;
@model IEnumerable<MedSysProject.Models.CBlogModel>

@{
    ViewData["Title"] = "BlogList";
    Layout = "_Layout_Admin2";
}
@{}
<h1>BlogList</h1>
@{
    int empID = 0;
    if (Context.Session.Keys.Contains(CDictionary.SK_EMPLOYEE_LOGIN))
    {
        string Json = Context.Session.GetString(CDictionary.SK_EMPLOYEE_LOGIN);
        Employee emp = JsonSerializer.Deserialize<Employee>(Json);
        empID = emp.EmployeeId;
    }

<p>
    @Html.ActionLink("我的貼文","BlogList","Admin",new{id=empID},new{@class="btn btn-primary",style="margin-left:10px"})
    <a href="@Url.Content("~/Admin/BlogList")" class="btn btn-primary" style="margin-left:10px">全部貼文</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @*  @Html.DisplayNameFor(model => model.BlogID) *@序號
            </th>
            <th style="width:250px;">
                @* @Html.DisplayNameFor(model => model.Title) *@文章標題
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ArticleClassID)
            </th> *@
            <th>
               @*  @Html.DisplayNameFor(model => model.Category) *@文章類別
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Views) *@瀏覽人次
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.CreatedAt) *@建立時間
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Content)
            </th> *@
            <th>
                @* @Html.DisplayNameFor(model => model.BlogImage) *@文章圖片
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.AuthorID)
            </th> *@
            <th>
               @*  @Html.DisplayNameFor(model => model.AuthorName) *@作者
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{  int count=0;
    foreach (var item in Model) {
        count++;
        <tr>
            <td>
                @count
            </td>
            <td style="width:250px;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            
            <td>
               @if(item.BlogImage!=null&&item.BlogImage.Length>0)
               {
                   <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.BlogImage)" alt="Image" width="100"/>
               }
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}}
    </tbody>
</table>}
