@model IEnumerable<MedSysProject.Models.Blog>

@{
    ViewData["Title"] = "BlogIndex";
    Layout = "_Layout_Admin2";
}

<h1>BlogIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleClass.BlogCategory1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Content)
            </th>*@
            @*<th>
                這裡也可以取到導覽屬性
                @Html.DisplayNameFor(model => model.BlogImage)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                count++;
        <tr>
            <td>
                @count;
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ArticleClass.BlogCategory1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
         @*   <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogImage)
            </td>*@
            <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}}
    </tbody>
</table>
