@model IEnumerable<MedSysProject.Models.Order>

@{
    ViewData["Title"] = "訂單管理";
    Layout = "_Layout_Admin2";
}

@* 這邊是確保左側邊欄的目前區域標亮 *@
@* ---------------------------------------------- *@
<script>
    const Order = document.getElementById("li-Order");
    const Index = document.getElementById("li-index");
    Order.className = "nav-item active";
    Index.className = "nav-item";
</script>
@* ------------------------------------- *@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">訂單管理</h6>
    </div>
    <div class="card-body">
        <p style="width: 10%;">
            <select class="form-control" id="selectState" name="selectState">
                <option value="0">全部</option>
                <option value="1">順利送達</option>
                <option value="2">轉運中</option>
                <option value="3">配送中</option>
                <option value="4">配送中(當日)</option>
                <option value="5">取件中</option>
                <option value="6">已集貨</option>
                <option value="7">取消取件</option>
                <option value="8">未順利取件</option>
                <option value="9">暫置營業所</option>
                <option value="10">調查處理中</option>
                <option value="11">不在家</option>
                <option value="12">公司行號休息</option>
            </select>
        </p>
        <table class="table table-hover">
    <thead>
        <tr>
            <th>
                訂單編號
            </th>
            <th>
                下訂日期
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.MemberId) *@訂購人
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.ShipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayId)
            </th> *@
            <th>
                @* @Html.DisplayNameFor(model => model.StateId) *@目前狀態
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.ShipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberName)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.ShipId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.State.StateName)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.ShipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td> *@
            <td>
                            <a href="@Url.Action("Details", new { id = item.OrderId })" class="btn btn-info" data-toggle="modal" data-target="#modalEdit">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a class="btn btn-danger" id="btnDel">
                                @*href="@Url.Action("Delete", new { id = item.EmployeeId })"*@
                                <i class="fas fa-trash-alt"></i>
                            </a>
@*                 @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>

@* ---詳細彈窗開始--- *@
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">訂單詳細資料</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">

                @*訂單詳細窗口*@
                <ul>
                    <li>配送方式</li>
                    <li>付款方式</li>
                    <li>預計到達日期等等</li>
                </ul>

                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* ---詳細彈窗結束--- *@

<script>
    const delbtn = document.getElementById("btnDel");

    delbtn.addEventListener("click", () => {
        Swal.fire({
            title: "確定要刪除嗎？",
            text: "此步驟將無法復原！",
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: "取消",
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "確定刪除"
        })
    });
</script>