@model IEnumerable<MedSysProject.Models.Order>

@{
    ViewData["Title"] = "訂單管理";
    Layout = "_Layout_Admin2";
}

@* 這邊是確保左側邊欄的目前區域標亮 *@
@* ---------------------------------------------- *@
<script>
    const Order = document.getElementById("li-Order");
    const Index = document.getElementById("li-index");
    Order.className = "nav-item active";
    Index.className = "nav-item";
</script>
@* ------------------------------------- *@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">訂單管理</h6>
    </div>
    <div class="card-body">

        <table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                            <a href="@Url.Action("Edit", new { id = item.OrderId })" class="btn btn-primary">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Details", new { id = item.OrderId })" class="btn btn-info">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.OrderId })" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
@*                 @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>