@model IEnumerable<MedSysProject.Models.CProductsWrap>
@using MedSysProject.Models
@using MedSysProject.Controllers
@using static MedSysProject.Models.Product

@{
    ViewData["Title"] = "產品管理";
    Layout = "_Layout_Admin2";
}

<script>
    const Product = document.getElementById("li-Product");
    const Index = document.getElementById("li-index");
    Product.className = "nav-item active";
    Index.className = "nav-item";
</script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">產品管理</h6>
    </div>
    <div class="card-body">
        <div>
            @using (Html.BeginForm())
            {
                @: 價格區間
                @: 最小價格 @Html.TextBox("txtMinPrice", null, new { type = "number", @class = "form-control pr-1" })
                @: 最大價格 @Html.TextBox("txtMaxPrice", null, new { type = "number", @class = "form-control pr-1" })
                <input type="submit" class="btn btn-primary" value="查詢" style="margin-top:.5em;" />
            }
            <p class="mt-3">
                <a class="btn btn-success" data-toggle="modal" data-target="#modalCreate" onclick="loadCreateProductModal()">
                    <i class="fas fa-plus"></i>
                </a>
            </p>
        </div>

        <table class="table table-hover">
            <!-- 表格頭部 -->
            <thead>
                <tr>
                    <!-- 列項目 -->
                    <th>序</th>
                    <th>@Html.DisplayNameFor(model => model.WrappedProductName)</th>
                    <th>@Html.DisplayNameFor(model => model.WrappedUnitPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.WrappedLicense)</th>
                    <th>@Html.DisplayNameFor(model => model.WrappedIngredient)</th>
                    <th>@Html.DisplayNameFor(model => model.FimagePath)</th>
                    <th>@Html.DisplayNameFor(model => model.WrappedUnitsInStock)</th>
                    <th>@Html.DisplayNameFor(model => model.WrappedDiscontinued)</th>
                    <th>執行動作</th>
                </tr>
            </thead>
            <!-- 表格內容 -->
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@Html.DisplayFor(modelItem => item.WrappedProductName)</td>
                            <td>@Html.DisplayFor(modelItem => item.WrappedUnitPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.WrappedLicense)</td>
                            <td>@Html.DisplayFor(modelItem => item.WrappedIngredient)</td>
                            <td>
                                <img src="@Url.Content(item.ImagePath)" alt="Product Image" style="max-width: 100px; max-height: 100px;">
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.WrappedUnitsInStock)</td>
                            <td>
                                @if (item.WrappedDiscontinued == true)
                                {
                                    <span class="badge badge-success">上架中</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">已下架</span>
                                }
                            </td>
                            <td>
                                <a onclick="getProductDetails(@item.WrappedProductId)" class="btn btn-primary" data-toggle="modal" data-target="#modalEdit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" onclick="deleteProduct(@item.WrappedProductId)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <!-- ---新增彈窗開始--- -->
        <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- 主體 -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新增產品</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 使用AJAX載入_CreateProductModal.cshtml的內容 -->
                        <div id="createProductModalContent"></div>
                    </div>
@*                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button id="buttonSubmit" type="submit" class="btn btn-primary">確認並新增</button>
                    </div> *@
                </div>
            </div>
        </div>
        <!-- ---新增彈窗結束--- -->

       
        <!-- ---新增彈窗開始--- -->
       @*  <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content"> *@
            @*         <!--標頭-->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">新增產品</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--主體-->
                    <div class="modal-body">
                                <td>
                                    @foreach (var imagePath in Model.FirstOrDefault()?.FimagePaths ?? Enumerable.Empty<string>())
                                    {
                                        <img src="@Url.Content(imagePath)" alt="Product Image" style="max-width: 100px; max-height: 100px;">
                                    }
                                </td>
                            </div>
                            <button id="buttonSubmit" type="submit" class="btn btn-primary">確認並新增</button>
                    </div>
                </div> *@
            </div>
        </div>
      
        <!-- ---新增彈窗結束--- -->

        @* ---修改彈窗開始--- *@
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="category_div">
                    <!--Header-->
       @*              <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">修改產品</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div> *@
                    <!--Body-->
         @*            <div class="modal-body">
                        <form id="editProductForm" method="post" enctype="multipart/form-data" action="@Url.Action("Edit", "Admin")">
                            <div class="mb-3">
                                <label for="editProductName" class="form-label">產品名稱</label>
                                <input type="text" class="form-control" id="editProductName" name="WrappedProductName">
                            </div>
                            <div class="mb-3">
                                <label for="inputPrice" class="form-label">單價</label>
                                <input type="text" class="form-control" id="inputPrice" name="UnitPrice">
                            </div>
                            <div class="mb-3">
                                <label for="inputLicense" class="form-label">認證字號</label>
                                <input type="text" class="form-control" id="inputLicense" name="License">
                            </div>
                            <div class="mb-3">
                                <label for="inputIngredient" class="form-label">有效成分</label>
                                <input type="text" class="form-control" id="inputIngredient" name="Ingredient">
                            </div>
                            <div class="mb-3">
                                <label for="inputDescription" class="form-label">產品描述</label>
                                <textarea class="form-control" id="inputDescription" name="Description" rows="4"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="inputDiscontinued" class="form-label">上架狀態</label>
                                <select class="form-control" id="inputDiscontinued" name="Discontinued">
                                    <option value="true" selected="">上架中</option>
                                    <option value="false" selected="">已下架</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="categories" class="form-label">產品分類</label>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="category@(category.CategoriesId)" name="CategoriesIds" value="@category.CategoriesId">
                                        <label class="form-check-label" for="category@(category.CategoriesId)">
                                            @category.CategoriesName
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">產品圖片上傳</label>
                                <input class="form-control" type="file" id="formFile" name="FormFile">
                            </div>
                            <div id="imagePreviewContainer" class="mb-3">
                                <label for="inputDescription" class="form-label">圖片預覽</label>
                                <img id="previewImage" src="#" style="max-width: 100%; max-height: 150px;">
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="updateProduct()">確認修改</button>
                        </div>
                    </div> *@
                </div>
            </div>
            @* ---修改彈窗結束--- *@

            <!-- 載入 Bootstrap 的 JavaScript -->
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



            <script>
        function submitForm() {
            $.ajax({
                url: '@Url.Action("Create", "Admin")',
                type: 'POST',
                data: new FormData($('#productForm')[0]),
                processData: false,
                contentType: false,
                success: function (data) {
                    // 提交成功後，關閉 Modal
                    $('#modalCreate').modal('hide');
                    // 在這裡可以添加其他你需要的處理邏輯
                },
                error: function (error) {
                    alert('提交失敗：' + error.statusText);
                }
            });
        }
   



        function loadCreateProductModal() {
            $.ajax({
                url: '@Url.Action("Create", "Admin")',
                type: 'GET',
                success: function (data) {
                    $('#createProductModalContent').html(data);
                    $('#modalCreate').modal('show');
                },
                error: function (error) {
                    alert('載入_CreateProductModal 失敗：' + error.statusText);
                }
            });
        }

        // $(document).ready(function () {
        //     $('#modalCreate').on('show.bs.modal', function (e) {
        //         // 使用AJAX載入_CreateProductModal.cshtml的內容
        //         $.ajax({
        //             url: '@Url.Action("Create", "Admin")',
        //             type: 'GET',
        //             success: function (data) {
        //                 $('#createProductModalContent').html(data);
        //             },
        //             error: function (error) {
        //                 alert('載入_CreateProductModal 失敗：' + error.statusText);
        //             }
        //         });
        //     });
        // });

                function displayProductDetails(data) {
                    // 處理產品詳細信息的顯示
                    $('#editProductName').val(data.WrappedProductName);
                    $('#inputPrice').val(data.WrappedUnitPrice);
                    $('#inputLicense').val(data.WrappedLicense);
                    $('#inputIngredient').val(data.WrappedIngredient);
                    $('#inputDescription').val(data.WrappedDescription);
                    $('#inputDiscontinued').val(data.WrappedDiscontinued ? 'true' : 'false');

                    // 初始化 SelectedCategories 為空陣列
                    var selectedCategories = data.SelectedCategories && Array.isArray(data.SelectedCategories) ? data.SelectedCategories : [];

                    selectedCategories.forEach(function (categoryId) {
                        $('#category' + categoryId).prop('checked', true);
                    });

                    if (data && data.FimagePath) {
                        $('#previewImage').attr('src', data.FimagePath);
                    }
                }


                function getProductDetails(productId) {
                    $.ajax({
                        url: '@Url.Action("Edit", "Admin")',
                        type: 'GET',
                        data: { productId: productId }, // 使用productId而不是id
                        success: function (data) {
                            $('#category_div').empty().append(data)
                            // 處理成功的回應，填充產品資訊到表單
                            displayProductDetails(data);
                        },
                        error: function (error) {
                            // 處理 AJAX 請求失敗的情況
                            alert('獲取產品資訊失敗：' + error.statusText);
                        }
                    });
                }
            </script>



        </div>
  
  
